In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import torch
import torch.nn as nn
import torch.nn.functional as f
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader
from sklearn import preprocessing
from tqdm import tqdm
from sklearn.preprocessing import FunctionTransformer
import seaborn as sns 
from scipy import stats
import statsmodels.api as sm

from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, BaggingRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import ElasticNet, Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import SVR
from sklearn.model_selection import KFold, cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import PCA
from sklearn.preprocessing import RobustScaler
import h2o
from h2o.automl import H2OAutoML
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.neural_network import MLPRegressor
from scipy.stats import norm
import copy
from sklearn.model_selection import KFold
from catboost import CatBoostRegressor, Pool, metrics, cv
import xgboost as xgb
from scipy.stats import gmean
from sklearn.impute import KNNImputer
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [2]:
add_train = pd.read_csv('./n_train.csv')
add_test = pd.read_csv('./n_test.csv')

In [3]:
climate_type_dict = {'1':'BSk',
 '9': 'Dfb',
 '4': 'Cfa',
 '7': 'Csb',
 '8': 'Dfa',
 '3': 'BWk',
 '10': 'Dfc',
 '2': 'BWh',
 '6': 'Csa',
 '11': 'Dsb',
 '0': 'BSh',
 '5': 'Cfb',
 '12': 'Dsc',
 '13': 'Dwa',
 '14': 'Dwb'}

In [4]:
all_cols = add_train.columns.tolist()

In [5]:
target=["contest-tmp2m-14d__tmp2m"]

In [6]:
train_df =  pd.read_csv('fe_v1_train.csv')
test_df  =  pd.read_csv('fe_v1_test.csv')
for c in train_df.columns:
    if train_df[c].dtypes != 'float64':
        print(c)

climateregions__climateregion

In [7]:
exclude_cols = ['index', 'startdate']
best_cols = [c for c in train_df.columns if c not in exclude_cols and c not in target]
print("Main features:", len(best_cols))

Main features: 63

In [8]:
for c in all_cols:
    if 'contest-precip-14d' in c:
        print(c)

contest-precip-14d__precip

In [9]:
def calculate_season(month):
    if month == 12 or month == 1 or month == 2:
        return 4
    if month == 9 or month == 10 or month == 11:
        return 3
    if month == 7 or month == 8 or month == 6:
        return 2
    if month == 3 or month == 4 or month == 5:
        return 1

In [10]:
train_df['month'] = add_train['month']
test_df['month'] = add_test['month']

train_df['season'] = train_df['month'].apply(calculate_season)
test_df['season'] = test_df['month'].apply(calculate_season)

train_df['loc_group'] = add_train['loc_group']
test_df['loc_group'] = add_test['loc_group']

train_df['year'] = add_train['year']
test_df['year'] = add_test['year']

def map_climate_type(x):
    return climate_type_dict[str(x)]

train_df['climate_type'] = train_df['climateregions__climateregion'].apply(map_climate_type)
test_df['climate_type'] = train_df['climateregions__climateregion'].apply(map_climate_type)

precip_col = 'contest-precip-14d__precip'
wind_col = 'contest-wind-h500-14d__wind-hgt-500'

group_cols = ['loc_group', 'climate_type', 'year', 'season', 'month']
season_group_cols = ['loc_group', 'climate_type', 'year', 'season']

In [11]:
slp_col = 'contest-slp-14d__slp'
ccsm3_col = 'nmme-tmp2m-34w__ccsm3'
pres_col = 'contest-pres-sfc-gauss-14d__pres'
precip_col = 'contest-precip-14d__precip'
stt_col = 'sst-2010-1'

In [12]:
print(train_df[pres_col].min(), train_df[pres_col].max())
print(test_df[pres_col].min(), test_df[pres_col].max())

74839.94 102845.57
75925.02 102119.93

In [13]:
print(train_df[stt_col].min(), train_df[stt_col].max())
print(test_df[stt_col].min(), test_df[stt_col].max())

-219.87 352.2
89.73 345.33

In [14]:
print(train_df[precip_col].min(), train_df[precip_col].max())
print(test_df[precip_col].min(), test_df[precip_col].max())

0.0 502.63
0.0 439.54

In [15]:
# train_df[pres_col] = train_df[pres_col] - 100000
# test_df[pres_col] = test_df[pres_col] - 100000

In [16]:
print(train_df[slp_col].min(), train_df[slp_col].max())
print(test_df[slp_col].min(), test_df[slp_col].max())

100379.21 103275.84
100593.22 102258.27

In [17]:
print(train_df[wind_col].min(), train_df[wind_col].max())
print(test_df[wind_col].min(), test_df[wind_col].max())

5289.25 5958.2
5504.59 5925.56

In [18]:
train_df[wind_col] = train_df[wind_col] - 5000
test_df[wind_col] = test_df[wind_col] - 5000

In [19]:
train_df[slp_col] = train_df[slp_col] - 100000
test_df[slp_col] = test_df[slp_col] - 100000

In [20]:
check_cols = [c for c in train_df.columns if c not in target and c not in exclude_cols]

df = pd.concat([train_df[check_cols], test_df[check_cols]], axis=0)
df.shape

(407088, 68)

In [21]:
def create_df_by_group_and_agg(dataframe, grouped_cols, action, my_col, return_name):
    if action == "first":
        ans_df = dataframe.groupby(grouped_cols)[my_col].first().reset_index()
    elif action == "min":
        ans_df = dataframe.groupby(grouped_cols)[my_col].min().reset_index()
    elif action == "max":
        ans_df = dataframe.groupby(grouped_cols)[my_col].max().reset_index()
    elif action == "mean":
        ans_df = dataframe.groupby(grouped_cols)[my_col].mean().reset_index()
    print("Nan")
    ans_df = ans_df.rename(columns={my_col: return_name})
    for c in ans_df.columns:
        if ans_df[c].isnull().sum() > 0:
            print(c, ans_df[c].isnull().sum())
    return ans_df

In [22]:
def assign_train_test_df(my_col):
    train_df[my_col] = df[:len(train_df)][my_col].tolist()
    test_df[my_col] = df[len(train_df):][my_col].tolist()

In [23]:
first_slp_df = create_df_by_group_and_agg(df, season_group_cols, "first", slp_col, "first_slp")
first_slp_df.head(3)

Nan

   loc_group climate_type  year  season  first_slp
0          0          BSh  2014       3    1352.08
1          0          BSh  2014       4    2072.81
2          0          BSh  2015       1    1917.24

In [24]:
first_wind_df = create_df_by_group_and_agg(df, season_group_cols, "first", wind_col, "first_wind")
first_wind_df.head(3)

Nan

   loc_group climate_type  year  season  first_wind
0          0          BSh  2014       3      899.66
1          0          BSh  2014       4      847.35
2          0          BSh  2015       1      804.47

In [25]:
first_precip_df = create_df_by_group_and_agg(df, season_group_cols, "first", precip_col, "first_precip")
first_precip_df.head(3)

Nan

   loc_group climate_type  year  season  first_precip
0          0          BSh  2014       3         94.31
1          0          BSh  2014       4         25.53
2          0          BSh  2015       1         31.94

In [26]:
first_ccsm3_df = create_df_by_group_and_agg(df, season_group_cols, "first", ccsm3_col, "first_ccsm3")
first_ccsm3_df.head(3)

Nan

   loc_group climate_type  year  season  first_ccsm3
0          0          BSh  2014       3        27.57
1          0          BSh  2014       4         6.66
2          0          BSh  2015       1        15.25

In [27]:
first_pres_df = create_df_by_group_and_agg(df, season_group_cols, "first", ccsm3_col, "first_pres")
first_pres_df.head(3)

Nan

   loc_group climate_type  year  season  first_pres
0          0          BSh  2014       3       27.57
1          0          BSh  2014       4        6.66
2          0          BSh  2015       1       15.25

In [28]:
first_sst_df = create_df_by_group_and_agg(df, season_group_cols, "first", stt_col, "first_sst")
first_sst_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst
0          0          BSh  2014       3     352.20
1          0          BSh  2014       4     -27.73
2          0          BSh  2015       1    -182.10

In [29]:
min_sst_df = create_df_by_group_and_agg(df, season_group_cols, "min", stt_col, "min_sst")
min_sst_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst
0          0          BSh  2014       3   -24.17
1          0          BSh  2014       4  -110.84
2          0          BSh  2015       1  -183.70

In [30]:
max_sst_df = create_df_by_group_and_agg(df, season_group_cols, "max", stt_col, "max_sst")
max_sst_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst
0          0          BSh  2014       3   352.20
1          0          BSh  2014       4   -27.73
2          0          BSh  2015       1    15.72

In [31]:
first_slp_df_month = create_df_by_group_and_agg(df, group_cols, "first", slp_col, "first_slp_month")
first_slp_df_month.head(3)

Nan

   loc_group climate_type  year  season  month  first_slp_month
0          0          BSh  2014       3      9          1352.08
1          0          BSh  2014       3     10          1254.96
2          0          BSh  2014       3     11          1952.19

In [32]:
df = df.merge(first_slp_df, how='left', on=season_group_cols)
df['diff_slp_first'] = df[slp_col] - df['first_slp']
assign_train_test_df('diff_slp_first')

In [33]:
df = df.merge(first_precip_df, how='left', on=season_group_cols)
df['diff_precip_first'] = df[precip_col] - df['first_precip']
assign_train_test_df('diff_precip_first')

In [34]:
df = df.merge(first_sst_df, how='left', on=season_group_cols)
df['diff_sst_first'] = df[stt_col] - df['first_sst']
assign_train_test_df('diff_sst_first')

In [35]:
df = df.merge(min_sst_df, how='left', on=season_group_cols)
df['diff_sst_min'] = df[stt_col] - df['min_sst']
assign_train_test_df('diff_sst_min')

In [36]:
df = df.merge(max_sst_df, how='left', on=season_group_cols)
df['diff_sst_max'] = df['max_sst'] - df[stt_col]
assign_train_test_df('diff_sst_max')

In [37]:
df = df.merge(first_pres_df, how='left', on=season_group_cols)
df['diff_pres_first'] = df[pres_col] - df['first_pres']
assign_train_test_df('diff_pres_first')

In [38]:
df = df.merge(first_wind_df, how='left', on=season_group_cols)
df['diff_wind_first'] = df[wind_col] - df['first_wind']
assign_train_test_df('diff_wind_first')

In [39]:
df = df.merge(first_ccsm3_df, how='left', on=season_group_cols)
df['diff_ccsm3_first'] = df[ccsm3_col] - df['first_ccsm3']
assign_train_test_df('diff_ccsm3_first')

In [40]:
# df[f'{precip_col}_bins'] = pd.qcut(df[precip_col], q=5, labels=[f'{precip_col}_{i}' for i in range(5)])
# le = LabelEncoder().fit(np.unique(df[f'{precip_col}_bins'].unique().tolist()))
# df[f'{precip_col}_bins'] = le.transform(df[f'{precip_col}_bins']) + 1
# df[f'{precip_col}_bins'] = df[f'{precip_col}_bins'].replace(np.nan, 0).astype('int').astype('category')
# assign_train_test_df(f'{precip_col}_bins')

In [41]:
df['range_sst'] = df['max_sst'] - df['min_sst']
assign_train_test_df('range_sst')

In [42]:
features = best_cols + [
    'diff_slp_first',
    'diff_wind_first',
    'diff_sst_first',
    'diff_precip_first',
    'diff_sst_min',
    'diff_sst_max',
    'range_sst'
]

In [43]:
X = train_df[features].values
y = train_df[target[0]].values

skf = KFold(n_splits=5, random_state=2048, shuffle=True)
skf.get_n_splits(X, y)

train_index_list = []
test_index_list = []
train_x_list = []
val_x_list = []
train_y_list = []
val_y_list = []

for i, (train_index, test_index) in tqdm(enumerate(skf.split(X, y))):
    train_index_list.append(train_index)
    test_index_list.append(test_index)

    train_x_list.append(X[train_index, :])
    val_x_list.append(X[test_index, :])
    train_y_list.append(y[train_index])
    val_y_list.append(y[test_index])    
def train_catboost(x, y):
    print(x.shape, y.shape)
    
    cat_models = []
    for i in tqdm(range(5)):
        train_x, val_x = train_x_list[i], val_x_list[i]
        train_y, val_y = train_y_list[i], val_y_list[i]
        clf = CatBoostRegressor(iterations=5000, verbose=200, task_type="GPU",
                           devices='0:1')
        clf.fit(train_x, train_y, eval_set=[(val_x, val_y)], verbose=200, early_stopping_rounds=100)
        cat_models.append(clf)
    
    return cat_models
cat_models = train_catboost(X, y)

preds = []
for cat_model in tqdm(cat_models):
    preds.append(cat_model.predict(test_df[features].values))
s = 0
for pred in preds:
    s += pred
s = s/5
res_df = pd.read_csv('./sample_solution.csv')
res_df['contest-tmp2m-14d__tmp2m'] = s
res_df.to_csv('submission_fe_v1.csv', index=False)

best_df = pd.read_csv('best_sub.csv')
y_best = best_df[target[0]].values

from numpy import dot
from numpy.linalg import norm

cos_sim = dot(y_best, s)/(norm(y_best)*norm(s))
print("cos_sim with best submission:", cos_sim)

5it [00:06,  1.23s/it]

(375734, 70) (375734,)

  0%|                                                                                                | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.072699
0:	learn: 9.2611105	test: 9.2407165	best: 9.2407165 (0)	total: 5.95ms	remaining: 29.7s
200:	learn: 1.1876685	test: 1.1943075	best: 1.1943075 (200)	total: 1.03s	remaining: 24.5s
400:	learn: 0.9238387	test: 0.9326645	best: 0.9326645 (400)	total: 1.92s	remaining: 22s
600:	learn: 0.7917145	test: 0.8025593	best: 0.8025593 (600)	total: 2.82s	remaining: 20.7s
800:	learn: 0.7073861	test: 0.7202868	best: 0.7202868 (800)	total: 3.7s	remaining: 19.4s
1000:	learn: 0.6471064	test: 0.6615168	best: 0.6615168 (1000)	total: 4.64s	remaining: 18.5s
1200:	learn: 0.6007940	test: 0.6160796	best: 0.6160796 (1200)	total: 5.63s	remaining: 17.8s
1400:	learn: 0.5655721	test: 0.5822351	best: 0.5822351 (1400)	total: 6.49s	remaining: 16.7s
1600:	learn: 0.5362295	test: 0.5538964	best: 0.5538964 (1600)	total: 7.43s	remaining: 15.8s
1800:	learn: 0.5122988	test: 0.5308372	best: 0.5308372 (1800)	total: 8.29s	remaining: 14.7s
2000:	learn: 0.4904393	test: 0.5097672	best: 0.5097672 (2000)	total: 9.22s	remaining: 13.8s
2200:	learn: 0.4710671	test: 0.4912237	best: 0.4912237 (2200)	total: 10.1s	remaining: 12.8s
2400:	learn: 0.4539440	test: 0.4751626	best: 0.4751626 (2400)	total: 11s	remaining: 11.9s
2600:	learn: 0.4387573	test: 0.4607166	best: 0.4607166 (2600)	total: 11.9s	remaining: 11s
2800:	learn: 0.4254674	test: 0.4482897	best: 0.4482897 (2800)	total: 12.8s	remaining: 10.1s
3000:	learn: 0.4128033	test: 0.4364018	best: 0.4364018 (3000)	total: 14.1s	remaining: 9.37s
3200:	learn: 0.4007835	test: 0.4251259	best: 0.4251259 (3200)	total: 15.2s	remaining: 8.52s
3400:	learn: 0.3898405	test: 0.4147773	best: 0.4147773 (3400)	total: 16.4s	remaining: 7.7s
3600:	learn: 0.3801547	test: 0.4056467	best: 0.4056467 (3600)	total: 17.5s	remaining: 6.79s
3800:	learn: 0.3714706	test: 0.3975372	best: 0.3975372 (3800)	total: 18.7s	remaining: 5.89s
4000:	learn: 0.3630490	test: 0.3897233	best: 0.3897233 (4000)	total: 19.7s	remaining: 4.92s
4200:	learn: 0.3548464	test: 0.3821105	best: 0.3821105 (4200)	total: 20.9s	remaining: 3.97s
4400:	learn: 0.3472838	test: 0.3750471	best: 0.3750471 (4400)	total: 22s	remaining: 3s
4600:	learn: 0.3401387	test: 0.3684580	best: 0.3684580 (4600)	total: 23.3s	remaining: 2.02s
4800:	learn: 0.3335566	test: 0.3625062	best: 0.3625062 (4800)	total: 24.2s	remaining: 1s
4999:	learn: 0.3271719	test: 0.3566877	best: 0.3566877 (4999)	total: 25.1s	remaining: 0us
bestTest = 0.356687741
bestIteration = 4999

 20%|█████████████████▌                                                                      | 1/5 [00:33<02:14, 33.63s/it]

Learning rate set to 0.072699
0:	learn: 9.2537635	test: 9.2717026	best: 9.2717026 (0)	total: 5.69ms	remaining: 28.5s
200:	learn: 1.1842885	test: 1.1843145	best: 1.1843145 (200)	total: 981ms	remaining: 23.4s
400:	learn: 0.9170510	test: 0.9196956	best: 0.9196956 (400)	total: 1.89s	remaining: 21.7s
600:	learn: 0.7861901	test: 0.7915386	best: 0.7915386 (600)	total: 2.83s	remaining: 20.7s
800:	learn: 0.7040548	test: 0.7124815	best: 0.7124815 (800)	total: 3.74s	remaining: 19.6s
1000:	learn: 0.6442312	test: 0.6544665	best: 0.6544665 (1000)	total: 4.69s	remaining: 18.7s
1200:	learn: 0.6001543	test: 0.6118724	best: 0.6118724 (1200)	total: 5.98s	remaining: 18.9s
1400:	learn: 0.5646367	test: 0.5778645	best: 0.5778645 (1400)	total: 7.2s	remaining: 18.5s
1600:	learn: 0.5335896	test: 0.5480874	best: 0.5480874 (1600)	total: 8.4s	remaining: 17.8s
1800:	learn: 0.5090611	test: 0.5247554	best: 0.5247554 (1800)	total: 9.52s	remaining: 16.9s
2000:	learn: 0.4877817	test: 0.5045295	best: 0.5045295 (2000)	total: 10.7s	remaining: 16s
2200:	learn: 0.4686321	test: 0.4863113	best: 0.4863113 (2200)	total: 11.7s	remaining: 14.9s
2400:	learn: 0.4525743	test: 0.4715141	best: 0.4715141 (2400)	total: 12.8s	remaining: 13.9s
2600:	learn: 0.4376367	test: 0.4573561	best: 0.4573561 (2600)	total: 14s	remaining: 12.9s
2800:	learn: 0.4234413	test: 0.4440083	best: 0.4440083 (2800)	total: 15s	remaining: 11.7s
3000:	learn: 0.4109699	test: 0.4322025	best: 0.4322025 (3000)	total: 15.9s	remaining: 10.6s
3200:	learn: 0.3997057	test: 0.4216351	best: 0.4216351 (3200)	total: 16.7s	remaining: 9.41s
3400:	learn: 0.3890248	test: 0.4117318	best: 0.4117318 (3400)	total: 17.6s	remaining: 8.3s
3600:	learn: 0.3790790	test: 0.4025451	best: 0.4025451 (3600)	total: 18.5s	remaining: 7.2s
3800:	learn: 0.3698482	test: 0.3940091	best: 0.3940091 (3800)	total: 19.4s	remaining: 6.13s
4000:	learn: 0.3617188	test: 0.3863389	best: 0.3863389 (4000)	total: 20.3s	remaining: 5.08s
4200:	learn: 0.3535800	test: 0.3787114	best: 0.3787114 (4200)	total: 21.2s	remaining: 4.04s
4400:	learn: 0.3462049	test: 0.3719607	best: 0.3719607 (4400)	total: 22.2s	remaining: 3.02s
4600:	learn: 0.3391053	test: 0.3654492	best: 0.3654492 (4600)	total: 23.8s	remaining: 2.06s
4800:	learn: 0.3325731	test: 0.3594198	best: 0.3594198 (4800)	total: 26.5s	remaining: 1.1s
4999:	learn: 0.3263947	test: 0.3537396	best: 0.3537396 (4999)	total: 27.7s	remaining: 0us
bestTest = 0.3537395864
bestIteration = 4999

 40%|███████████████████████████████████▏                                                    | 2/5 [01:09<01:45, 35.04s/it]

Learning rate set to 0.072699
0:	learn: 9.2531718	test: 9.2855747	best: 9.2855747 (0)	total: 5.4ms	remaining: 27s
200:	learn: 1.1809742	test: 1.1835746	best: 1.1835746 (200)	total: 921ms	remaining: 22s
400:	learn: 0.9242143	test: 0.9316707	best: 0.9316707 (400)	total: 1.81s	remaining: 20.8s
600:	learn: 0.7905896	test: 0.8013425	best: 0.8013425 (600)	total: 2.75s	remaining: 20.1s
800:	learn: 0.7068737	test: 0.7196198	best: 0.7196198 (800)	total: 3.67s	remaining: 19.2s
1000:	learn: 0.6469751	test: 0.6611338	best: 0.6611338 (1000)	total: 4.65s	remaining: 18.6s
1200:	learn: 0.6015554	test: 0.6167092	best: 0.6167092 (1200)	total: 5.58s	remaining: 17.6s
1400:	learn: 0.5651377	test: 0.5815172	best: 0.5815172 (1400)	total: 6.51s	remaining: 16.7s
1600:	learn: 0.5365222	test: 0.5538498	best: 0.5538498 (1600)	total: 7.46s	remaining: 15.8s
1800:	learn: 0.5113244	test: 0.5296130	best: 0.5296130 (1800)	total: 8.36s	remaining: 14.8s
2000:	learn: 0.4894955	test: 0.5085953	best: 0.5085953 (2000)	total: 9.27s	remaining: 13.9s
2200:	learn: 0.4711568	test: 0.4912773	best: 0.4912773 (2200)	total: 10.2s	remaining: 13s
2400:	learn: 0.4532148	test: 0.4740776	best: 0.4740776 (2400)	total: 11.1s	remaining: 12s
2600:	learn: 0.4384244	test: 0.4599575	best: 0.4599575 (2600)	total: 12s	remaining: 11.1s
2800:	learn: 0.4245713	test: 0.4466973	best: 0.4466973 (2800)	total: 13.1s	remaining: 10.3s
3000:	learn: 0.4116809	test: 0.4344158	best: 0.4344158 (3000)	total: 14.1s	remaining: 9.41s
3200:	learn: 0.4006406	test: 0.4239670	best: 0.4239670 (3200)	total: 15.3s	remaining: 8.6s
3400:	learn: 0.3901878	test: 0.4140461	best: 0.4140461 (3400)	total: 16.4s	remaining: 7.69s
3600:	learn: 0.3805679	test: 0.4051681	best: 0.4051681 (3600)	total: 17.5s	remaining: 6.78s
3800:	learn: 0.3712304	test: 0.3963071	best: 0.3963071 (3800)	total: 18.5s	remaining: 5.83s
4000:	learn: 0.3626949	test: 0.3882110	best: 0.3882110 (4000)	total: 19.7s	remaining: 4.91s
4200:	learn: 0.3549405	test: 0.3809230	best: 0.3809230 (4200)	total: 20.8s	remaining: 3.95s
4400:	learn: 0.3472576	test: 0.3736310	best: 0.3736310 (4400)	total: 22.1s	remaining: 3s
4600:	learn: 0.3401907	test: 0.3671786	best: 0.3671786 (4600)	total: 23.1s	remaining: 2s
4800:	learn: 0.3333619	test: 0.3607877	best: 0.3607877 (4800)	total: 24.1s	remaining: 998ms
4999:	learn: 0.3272484	test: 0.3550031	best: 0.3550031 (4999)	total: 25.1s	remaining: 0us
bestTest = 0.3550030513
bestIteration = 4999

 60%|████████████████████████████████████████████████████▊                                   | 3/5 [01:43<01:08, 34.29s/it]

Learning rate set to 0.072699
0:	learn: 9.2604847	test: 9.2566518	best: 9.2566518 (0)	total: 6.26ms	remaining: 31.3s
200:	learn: 1.1717848	test: 1.1870401	best: 1.1870401 (200)	total: 1s	remaining: 23.9s
400:	learn: 0.9175890	test: 0.9325713	best: 0.9325713 (400)	total: 1.88s	remaining: 21.5s
600:	learn: 0.7841523	test: 0.7987912	best: 0.7987912 (600)	total: 2.79s	remaining: 20.4s
800:	learn: 0.7027964	test: 0.7180452	best: 0.7180452 (800)	total: 3.73s	remaining: 19.6s
1000:	learn: 0.6452351	test: 0.6614326	best: 0.6614326 (1000)	total: 4.86s	remaining: 19.4s
1200:	learn: 0.6015953	test: 0.6188026	best: 0.6188026 (1200)	total: 6.05s	remaining: 19.1s
1400:	learn: 0.5658532	test: 0.5839591	best: 0.5839591 (1400)	total: 7.18s	remaining: 18.4s
1600:	learn: 0.5362962	test: 0.5552649	best: 0.5552649 (1600)	total: 8.38s	remaining: 17.8s
1800:	learn: 0.5114038	test: 0.5311879	best: 0.5311879 (1800)	total: 9.87s	remaining: 17.5s
2000:	learn: 0.4908667	test: 0.5113233	best: 0.5113233 (2000)	total: 11.1s	remaining: 16.6s
2200:	learn: 0.4711535	test: 0.4924983	best: 0.4924983 (2200)	total: 12.3s	remaining: 15.7s
2400:	learn: 0.4539849	test: 0.4761370	best: 0.4761370 (2400)	total: 13.5s	remaining: 14.6s
2600:	learn: 0.4387686	test: 0.4619036	best: 0.4619036 (2600)	total: 14.6s	remaining: 13.5s
2800:	learn: 0.4247592	test: 0.4485822	best: 0.4485822 (2800)	total: 15.6s	remaining: 12.3s
3000:	learn: 0.4125988	test: 0.4370658	best: 0.4370658 (3000)	total: 16.6s	remaining: 11s
3200:	learn: 0.4014908	test: 0.4265214	best: 0.4265214 (3200)	total: 17.5s	remaining: 9.82s
3400:	learn: 0.3908309	test: 0.4165097	best: 0.4165097 (3400)	total: 18.4s	remaining: 8.66s
3600:	learn: 0.3808312	test: 0.4070825	best: 0.4070825 (3600)	total: 19.3s	remaining: 7.5s
3800:	learn: 0.3719496	test: 0.3987494	best: 0.3987494 (3800)	total: 20.2s	remaining: 6.36s
4000:	learn: 0.3633508	test: 0.3907267	best: 0.3907267 (4000)	total: 21s	remaining: 5.25s
4200:	learn: 0.3554238	test: 0.3833423	best: 0.3833423 (4200)	total: 22s	remaining: 4.18s
4400:	learn: 0.3478129	test: 0.3763187	best: 0.3763187 (4400)	total: 22.9s	remaining: 3.12s
4600:	learn: 0.3407712	test: 0.3698769	best: 0.3698769 (4600)	total: 23.9s	remaining: 2.07s
4800:	learn: 0.3339532	test: 0.3635370	best: 0.3635370 (4800)	total: 24.8s	remaining: 1.03s
4999:	learn: 0.3278666	test: 0.3578230	best: 0.3578230 (4999)	total: 25.7s	remaining: 0us
bestTest = 0.3578230402
bestIteration = 4999

 80%|██████████████████████████████████████████████████████████████████████▍                 | 4/5 [02:16<00:34, 34.13s/it]

Learning rate set to 0.072699
0:	learn: 9.2625918	test: 9.2370575	best: 9.2370575 (0)	total: 5.76ms	remaining: 28.8s
200:	learn: 1.1769089	test: 1.1828127	best: 1.1828127 (200)	total: 920ms	remaining: 22s
400:	learn: 0.9229138	test: 0.9306194	best: 0.9306194 (400)	total: 1.82s	remaining: 20.9s
600:	learn: 0.7912991	test: 0.8008941	best: 0.8008941 (600)	total: 2.73s	remaining: 20s
800:	learn: 0.7100944	test: 0.7206996	best: 0.7206996 (800)	total: 3.66s	remaining: 19.2s
1000:	learn: 0.6518427	test: 0.6634611	best: 0.6634611 (1000)	total: 4.62s	remaining: 18.5s
1200:	learn: 0.6073204	test: 0.6206548	best: 0.6206548 (1200)	total: 5.54s	remaining: 17.5s
1400:	learn: 0.5719067	test: 0.5865224	best: 0.5865224 (1400)	total: 6.49s	remaining: 16.7s
1600:	learn: 0.5420044	test: 0.5576045	best: 0.5576045 (1600)	total: 7.37s	remaining: 15.7s
1800:	learn: 0.5153634	test: 0.5322797	best: 0.5322797 (1800)	total: 8.31s	remaining: 14.8s
2000:	learn: 0.4928173	test: 0.5106155	best: 0.5106155 (2000)	total: 9.24s	remaining: 13.8s
2200:	learn: 0.4732257	test: 0.4916255	best: 0.4916255 (2200)	total: 10.2s	remaining: 12.9s
2400:	learn: 0.4559923	test: 0.4752668	best: 0.4752668 (2400)	total: 11.2s	remaining: 12.1s
2600:	learn: 0.4394365	test: 0.4595337	best: 0.4595337 (2600)	total: 12.2s	remaining: 11.2s
2800:	learn: 0.4258069	test: 0.4467172	best: 0.4467172 (2800)	total: 13.3s	remaining: 10.5s
3000:	learn: 0.4126073	test: 0.4342383	best: 0.4342383 (3000)	total: 14.5s	remaining: 9.66s
3200:	learn: 0.4011761	test: 0.4235359	best: 0.4235359 (3200)	total: 15.7s	remaining: 8.84s
3400:	learn: 0.3907490	test: 0.4137440	best: 0.4137440 (3400)	total: 16.8s	remaining: 7.92s
3600:	learn: 0.3805230	test: 0.4040492	best: 0.4040492 (3600)	total: 18.1s	remaining: 7.03s
3800:	learn: 0.3714048	test: 0.3954244	best: 0.3954244 (3800)	total: 19.2s	remaining: 6.07s
4000:	learn: 0.3632246	test: 0.3878284	best: 0.3878284 (4000)	total: 20.4s	remaining: 5.1s
4200:	learn: 0.3551668	test: 0.3803901	best: 0.3803901 (4200)	total: 21.5s	remaining: 4.09s
4400:	learn: 0.3476681	test: 0.3733675	best: 0.3733675 (4400)	total: 22.6s	remaining: 3.08s
4600:	learn: 0.3406088	test: 0.3669107	best: 0.3669107 (4600)	total: 23.6s	remaining: 2.04s
4800:	learn: 0.3340512	test: 0.3609175	best: 0.3609175 (4800)	total: 24.5s	remaining: 1.01s
4999:	learn: 0.3276810	test: 0.3550252	best: 0.3550252 (4999)	total: 25.4s	remaining: 0us
bestTest = 0.3550251987
bestIteration = 4999

100%|████████████████████████████████████████████████████████████████████████████████████████| 5/5 [02:50<00:00, 34.17s/it]
100%|████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 25.85it/s]

cos_sim with best submission: 0.9998364391320537