In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import torch
import torch.nn as nn
import torch.nn.functional as f
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader
from sklearn import preprocessing
from tqdm import tqdm
from sklearn.preprocessing import FunctionTransformer
import seaborn as sns 
from scipy import stats
import statsmodels.api as sm

from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, BaggingRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import ElasticNet, Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import SVR
from sklearn.model_selection import KFold, cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import PCA
from sklearn.preprocessing import RobustScaler
import h2o
from h2o.automl import H2OAutoML
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.neural_network import MLPRegressor
from scipy.stats import norm
import copy
from sklearn.model_selection import KFold
from catboost import CatBoostRegressor, Pool, metrics, cv
import xgboost as xgb
from scipy.stats import gmean
from sklearn.impute import KNNImputer
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [2]:
add_train = pd.read_csv('./n_train.csv')
add_test = pd.read_csv('./n_test.csv')

In [3]:
climate_type_dict = {'1':'BSk',
 '9': 'Dfb',
 '4': 'Cfa',
 '7': 'Csb',
 '8': 'Dfa',
 '3': 'BWk',
 '10': 'Dfc',
 '2': 'BWh',
 '6': 'Csa',
 '11': 'Dsb',
 '0': 'BSh',
 '5': 'Cfb',
 '12': 'Dsc',
 '13': 'Dwa',
 '14': 'Dwb'}

In [4]:
all_cols = add_train.columns.tolist()

In [5]:
target=["contest-tmp2m-14d__tmp2m"]

In [6]:
train_df =  pd.read_csv('fe_v1_train.csv')
test_df  =  pd.read_csv('fe_v1_test.csv')
for c in train_df.columns:
    if train_df[c].dtypes != 'float64':
        print(c)

climateregions__climateregion

In [7]:
exclude_cols = ['index', 'startdate']
best_cols = [c for c in train_df.columns if c not in exclude_cols and c not in target]
print("Main features:", len(best_cols))

Main features: 63

In [8]:
for c in all_cols:
    if 'contest-precip-14d' in c:
        print(c)

contest-precip-14d__precip

In [9]:
def calculate_season(month):
    if month == 12 or month == 1 or month == 2:
        return 4
    if month == 9 or month == 10 or month == 11:
        return 3
    if month == 7 or month == 8 or month == 6:
        return 2
    if month == 3 or month == 4 or month == 5:
        return 1

In [10]:
train_df['month'] = add_train['month']
test_df['month'] = add_test['month']

train_df['season'] = train_df['month'].apply(calculate_season)
test_df['season'] = test_df['month'].apply(calculate_season)

train_df['loc_group'] = add_train['loc_group']
test_df['loc_group'] = add_test['loc_group']

train_df['year'] = add_train['year']
test_df['year'] = add_test['year']

def map_climate_type(x):
    return climate_type_dict[str(x)]

train_df['climate_type'] = train_df['climateregions__climateregion'].apply(map_climate_type)
test_df['climate_type'] = train_df['climateregions__climateregion'].apply(map_climate_type)

precip_col = 'contest-precip-14d__precip'
wind_col = 'contest-wind-h500-14d__wind-hgt-500'

group_cols = ['loc_group', 'climate_type', 'year', 'season', 'month']
season_group_cols = ['loc_group', 'climate_type', 'year', 'season']

In [11]:
slp_col = 'contest-slp-14d__slp'
ccsm3_col = 'nmme-tmp2m-34w__ccsm3'
pres_col = 'contest-pres-sfc-gauss-14d__pres'
precip_col = 'contest-precip-14d__precip'
stt_col = 'sst-2010-1'
sst_col_5 = 'sst-2010-5'

In [12]:
print(train_df[pres_col].min(), train_df[pres_col].max())
print(test_df[pres_col].min(), test_df[pres_col].max())

74839.94 102845.57
75925.02 102119.93

In [13]:
print(train_df[stt_col].min(), train_df[stt_col].max())
print(test_df[stt_col].min(), test_df[stt_col].max())

-219.87 352.2
89.73 345.33

In [14]:
print(train_df[sst_col_5].min(), train_df[sst_col_5].max())
print(test_df[sst_col_5].min(), test_df[sst_col_5].max())

-32.81 40.97
-4.62 21.5

In [15]:
print(train_df[precip_col].min(), train_df[precip_col].max())
print(test_df[precip_col].min(), test_df[precip_col].max())

0.0 502.63
0.0 439.54

In [16]:
# train_df[pres_col] = train_df[pres_col] - 100000
# test_df[pres_col] = test_df[pres_col] - 100000

In [17]:
print(train_df[slp_col].min(), train_df[slp_col].max())
print(test_df[slp_col].min(), test_df[slp_col].max())

100379.21 103275.84
100593.22 102258.27

In [18]:
print(train_df[wind_col].min(), train_df[wind_col].max())
print(test_df[wind_col].min(), test_df[wind_col].max())

5289.25 5958.2
5504.59 5925.56

In [19]:
train_df[wind_col] = train_df[wind_col] - 5000
test_df[wind_col] = test_df[wind_col] - 5000

In [20]:
train_df[slp_col] = train_df[slp_col] - 100000
test_df[slp_col] = test_df[slp_col] - 100000

In [21]:
check_cols = [c for c in train_df.columns if c not in target and c not in exclude_cols]

df = pd.concat([train_df[check_cols], test_df[check_cols]], axis=0)
df.shape

(407088, 68)

In [22]:
def create_df_by_group_and_agg(dataframe, grouped_cols, action, my_col, return_name):
    if action == "first":
        ans_df = dataframe.groupby(grouped_cols)[my_col].first().reset_index()
    elif action == "min":
        ans_df = dataframe.groupby(grouped_cols)[my_col].min().reset_index()
    elif action == "max":
        ans_df = dataframe.groupby(grouped_cols)[my_col].max().reset_index()
    elif action == "mean":
        ans_df = dataframe.groupby(grouped_cols)[my_col].mean().reset_index()
    print("Nan")
    ans_df = ans_df.rename(columns={my_col: return_name})
    for c in ans_df.columns:
        if ans_df[c].isnull().sum() > 0:
            print(c, ans_df[c].isnull().sum())
    return ans_df

In [23]:
def assign_train_test_df(my_col):
    train_df[my_col] = df[:len(train_df)][my_col].tolist()
    test_df[my_col] = df[len(train_df):][my_col].tolist()

In [24]:
first_slp_df = create_df_by_group_and_agg(df, season_group_cols, "first", slp_col, "first_slp")
first_slp_df.head(3)

Nan

   loc_group climate_type  year  season  first_slp
0          0          BSh  2014       3    1352.08
1          0          BSh  2014       4    2072.81
2          0          BSh  2015       1    1917.24

In [25]:
first_wind_df = create_df_by_group_and_agg(df, season_group_cols, "first", wind_col, "first_wind")
first_wind_df.head(3)

Nan

   loc_group climate_type  year  season  first_wind
0          0          BSh  2014       3      899.66
1          0          BSh  2014       4      847.35
2          0          BSh  2015       1      804.47

In [26]:
first_precip_df = create_df_by_group_and_agg(df, season_group_cols, "first", precip_col, "first_precip")
first_precip_df.head(3)

Nan

   loc_group climate_type  year  season  first_precip
0          0          BSh  2014       3         94.31
1          0          BSh  2014       4         25.53
2          0          BSh  2015       1         31.94

In [27]:
first_ccsm3_df = create_df_by_group_and_agg(df, season_group_cols, "first", ccsm3_col, "first_ccsm3")
first_ccsm3_df.head(3)

Nan

   loc_group climate_type  year  season  first_ccsm3
0          0          BSh  2014       3        27.57
1          0          BSh  2014       4         6.66
2          0          BSh  2015       1        15.25

In [28]:
first_pres_df = create_df_by_group_and_agg(df, season_group_cols, "first", ccsm3_col, "first_pres")
first_pres_df.head(3)

Nan

   loc_group climate_type  year  season  first_pres
0          0          BSh  2014       3       27.57
1          0          BSh  2014       4        6.66
2          0          BSh  2015       1       15.25

In [29]:
first_sst_df = create_df_by_group_and_agg(df, season_group_cols, "first", stt_col, "first_sst")
first_sst_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst
0          0          BSh  2014       3     352.20
1          0          BSh  2014       4     -27.73
2          0          BSh  2015       1    -182.10

In [30]:
first_sst_5_df = create_df_by_group_and_agg(df, season_group_cols, "first", sst_col_5, "first_sst_5")
first_sst_5_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst_5
0          0          BSh  2014       3        19.29
1          0          BSh  2014       4        24.82
2          0          BSh  2015       1        23.47

In [31]:
min_sst_df = create_df_by_group_and_agg(df, season_group_cols, "min", stt_col, "min_sst")
min_sst_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst
0          0          BSh  2014       3   -24.17
1          0          BSh  2014       4  -110.84
2          0          BSh  2015       1  -183.70

In [32]:
min_sst_5_df = create_df_by_group_and_agg(df, season_group_cols, "min", sst_col_5, "min_sst_5")
min_sst_5_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst_5
0          0          BSh  2014       3       7.98
1          0          BSh  2014       4      24.81
2          0          BSh  2015       1      -7.76

In [33]:
max_sst_df = create_df_by_group_and_agg(df, season_group_cols, "max", stt_col, "max_sst")
max_sst_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst
0          0          BSh  2014       3   352.20
1          0          BSh  2014       4   -27.73
2          0          BSh  2015       1    15.72

In [34]:
max_sst_5_df = create_df_by_group_and_agg(df, season_group_cols, "max", sst_col_5, "max_sst_5")
max_sst_5_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst_5
0          0          BSh  2014       3      24.50
1          0          BSh  2014       4      27.65
2          0          BSh  2015       1      23.47

In [35]:
first_slp_df_month = create_df_by_group_and_agg(df, group_cols, "first", slp_col, "first_slp_month")
first_slp_df_month.head(3)

Nan

   loc_group climate_type  year  season  month  first_slp_month
0          0          BSh  2014       3      9          1352.08
1          0          BSh  2014       3     10          1254.96
2          0          BSh  2014       3     11          1952.19

In [36]:
df = df.merge(first_slp_df, how='left', on=season_group_cols)
df['diff_slp_first'] = df[slp_col] - df['first_slp']
assign_train_test_df('diff_slp_first')

In [37]:
df = df.merge(first_precip_df, how='left', on=season_group_cols)
df['diff_precip_first'] = df[precip_col] - df['first_precip']
assign_train_test_df('diff_precip_first')

In [38]:
df = df.merge(first_sst_df, how='left', on=season_group_cols)
df['diff_sst_first'] = df[stt_col] - df['first_sst']
assign_train_test_df('diff_sst_first')

In [39]:
df = df.merge(first_sst_5_df, how='left', on=season_group_cols)
df['diff_sst_5_first'] = df[sst_col_5] - df['first_sst_5']
assign_train_test_df('diff_sst_5_first')

In [40]:
df = df.merge(min_sst_df, how='left', on=season_group_cols)
df['diff_sst_min'] = df[stt_col] - df['min_sst']
assign_train_test_df('diff_sst_min')

In [41]:
df = df.merge(max_sst_df, how='left', on=season_group_cols)
df['diff_sst_max'] = df['max_sst'] - df[stt_col]
assign_train_test_df('diff_sst_max')

In [42]:
df = df.merge(max_sst_5_df, how='left', on=season_group_cols)
df['diff_sst_5_max'] = df[sst_col_5] - df['max_sst_5']
assign_train_test_df('diff_sst_5_max')

In [43]:
df = df.merge(min_sst_5_df, how='left', on=season_group_cols)
df['diff_sst_5_min'] = df[sst_col_5] - df['min_sst_5']
assign_train_test_df('diff_sst_5_min')

In [44]:
df = df.merge(first_pres_df, how='left', on=season_group_cols)
df['diff_pres_first'] = df[pres_col] - df['first_pres']
assign_train_test_df('diff_pres_first')

In [45]:
df = df.merge(first_wind_df, how='left', on=season_group_cols)
df['diff_wind_first'] = df[wind_col] - df['first_wind']
assign_train_test_df('diff_wind_first')

In [46]:
df = df.merge(first_ccsm3_df, how='left', on=season_group_cols)
df['diff_ccsm3_first'] = df[ccsm3_col] - df['first_ccsm3']
assign_train_test_df('diff_ccsm3_first')

In [47]:
# df[f'{precip_col}_bins'] = pd.qcut(df[precip_col], q=5, labels=[f'{precip_col}_{i}' for i in range(5)])
# le = LabelEncoder().fit(np.unique(df[f'{precip_col}_bins'].unique().tolist()))
# df[f'{precip_col}_bins'] = le.transform(df[f'{precip_col}_bins']) + 1
# df[f'{precip_col}_bins'] = df[f'{precip_col}_bins'].replace(np.nan, 0).astype('int').astype('category')
# assign_train_test_df(f'{precip_col}_bins')

In [48]:
df['range_sst'] = df['max_sst'] - df['min_sst']
assign_train_test_df('range_sst')

In [49]:
df['range_sst_5'] = df['max_sst_5'] - df['min_sst_5']
assign_train_test_df('range_sst_5')

In [52]:
features = best_cols + [
    'diff_slp_first',
    'diff_wind_first',
    'diff_sst_first',
    'diff_precip_first',
    'diff_sst_min',
    'diff_sst_max',
    'range_sst',
    'diff_sst_5_first',
    'diff_sst_5_min',
    'diff_sst_5_max',
    'range_sst_5'
]

In [53]:
X = train_df[features].values
y = train_df[target[0]].values

skf = KFold(n_splits=5, random_state=2048, shuffle=True)
skf.get_n_splits(X, y)

train_index_list = []
test_index_list = []
train_x_list = []
val_x_list = []
train_y_list = []
val_y_list = []

for i, (train_index, test_index) in tqdm(enumerate(skf.split(X, y))):
    train_index_list.append(train_index)
    test_index_list.append(test_index)

    train_x_list.append(X[train_index, :])
    val_x_list.append(X[test_index, :])
    train_y_list.append(y[train_index])
    val_y_list.append(y[test_index])    
def train_catboost(x, y):
    print(x.shape, y.shape)
    
    cat_models = []
    for i in tqdm(range(5)):
        train_x, val_x = train_x_list[i], val_x_list[i]
        train_y, val_y = train_y_list[i], val_y_list[i]
        clf = CatBoostRegressor(iterations=5000, verbose=200, task_type="GPU",
                           devices='0:1')
        clf.fit(train_x, train_y, eval_set=[(val_x, val_y)], verbose=200, early_stopping_rounds=100)
        cat_models.append(clf)
    
    return cat_models
cat_models = train_catboost(X, y)

preds = []
for cat_model in tqdm(cat_models):
    preds.append(cat_model.predict(test_df[features].values))
s = 0
for pred in preds:
    s += pred
s = s/5
res_df = pd.read_csv('./sample_solution.csv')
res_df['contest-tmp2m-14d__tmp2m'] = s
res_df.to_csv('submission_fe_v2.csv', index=False)

best_df = pd.read_csv('best_sub.csv')
y_best = best_df[target[0]].values

from numpy import dot
from numpy.linalg import norm

cos_sim = dot(y_best, s)/(norm(y_best)*norm(s))
print("cos_sim with best submission:", cos_sim)

5it [00:07,  1.43s/it]

(375734, 74) (375734,)

  0%|                                                                                                | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.072699
0:	learn: 9.2611105	test: 9.2407165	best: 9.2407165 (0)	total: 6.8ms	remaining: 34s
200:	learn: 1.1885868	test: 1.1937599	best: 1.1937599 (200)	total: 1.02s	remaining: 24.5s
400:	learn: 0.9226000	test: 0.9304525	best: 0.9304525 (400)	total: 1.98s	remaining: 22.7s
600:	learn: 0.7881113	test: 0.7989271	best: 0.7989271 (600)	total: 2.99s	remaining: 21.9s
800:	learn: 0.7034452	test: 0.7160416	best: 0.7160416 (800)	total: 3.95s	remaining: 20.7s
1000:	learn: 0.6448763	test: 0.6590577	best: 0.6590577 (1000)	total: 5.15s	remaining: 20.6s
1200:	learn: 0.5989183	test: 0.6144395	best: 0.6144395 (1200)	total: 6.32s	remaining: 20s
1400:	learn: 0.5648944	test: 0.5814678	best: 0.5814678 (1400)	total: 7.58s	remaining: 19.5s
1600:	learn: 0.5366364	test: 0.5541505	best: 0.5541505 (1600)	total: 8.78s	remaining: 18.6s
1800:	learn: 0.5119562	test: 0.5304563	best: 0.5304563 (1800)	total: 10.1s	remaining: 17.9s
2000:	learn: 0.4906111	test: 0.5099558	best: 0.5099558 (2000)	total: 11.3s	remaining: 16.9s
2200:	learn: 0.4710022	test: 0.4911125	best: 0.4911125 (2200)	total: 12.4s	remaining: 15.8s
2400:	learn: 0.4539753	test: 0.4748649	best: 0.4748649 (2400)	total: 13.6s	remaining: 14.7s
2600:	learn: 0.4385111	test: 0.4603268	best: 0.4603268 (2600)	total: 14.7s	remaining: 13.6s
2800:	learn: 0.4245443	test: 0.4472830	best: 0.4472830 (2800)	total: 15.6s	remaining: 12.2s
3000:	learn: 0.4120184	test: 0.4356632	best: 0.4356632 (3000)	total: 16.5s	remaining: 11s
3200:	learn: 0.4001530	test: 0.4246281	best: 0.4246281 (3200)	total: 17.4s	remaining: 9.76s
3400:	learn: 0.3891930	test: 0.4142535	best: 0.4142535 (3400)	total: 18.3s	remaining: 8.59s
3600:	learn: 0.3789956	test: 0.4047248	best: 0.4047248 (3600)	total: 19.3s	remaining: 7.5s
3800:	learn: 0.3697308	test: 0.3961518	best: 0.3961518 (3800)	total: 20.2s	remaining: 6.37s
4000:	learn: 0.3615012	test: 0.3884687	best: 0.3884687 (4000)	total: 21.2s	remaining: 5.29s
4200:	learn: 0.3531059	test: 0.3806213	best: 0.3806213 (4200)	total: 22.1s	remaining: 4.2s
4400:	learn: 0.3457004	test: 0.3736829	best: 0.3736829 (4400)	total: 23s	remaining: 3.13s
4600:	learn: 0.3383978	test: 0.3668319	best: 0.3668319 (4600)	total: 23.9s	remaining: 2.07s
4800:	learn: 0.3319387	test: 0.3608282	best: 0.3608282 (4800)	total: 24.8s	remaining: 1.03s
4999:	learn: 0.3255460	test: 0.3548357	best: 0.3548357 (4999)	total: 25.7s	remaining: 0us
bestTest = 0.354835666
bestIteration = 4999

 20%|█████████████████▌                                                                      | 1/5 [00:34<02:16, 34.15s/it]

Learning rate set to 0.072699
0:	learn: 9.2537635	test: 9.2717026	best: 9.2717026 (0)	total: 6.03ms	remaining: 30.1s
200:	learn: 1.1728804	test: 1.1732298	best: 1.1732298 (200)	total: 995ms	remaining: 23.8s
400:	learn: 0.9121432	test: 0.9154610	best: 0.9154610 (400)	total: 1.91s	remaining: 21.9s
600:	learn: 0.7842692	test: 0.7903387	best: 0.7903387 (600)	total: 2.84s	remaining: 20.8s
800:	learn: 0.7018150	test: 0.7103809	best: 0.7103809 (800)	total: 3.77s	remaining: 19.8s
1000:	learn: 0.6465083	test: 0.6571170	best: 0.6571170 (1000)	total: 4.71s	remaining: 18.8s
1200:	learn: 0.5999493	test: 0.6119075	best: 0.6119075 (1200)	total: 5.71s	remaining: 18.1s
1400:	learn: 0.5627502	test: 0.5760423	best: 0.5760423 (1400)	total: 6.7s	remaining: 17.2s
1600:	learn: 0.5342239	test: 0.5489657	best: 0.5489657 (1600)	total: 7.68s	remaining: 16.3s
1800:	learn: 0.5097545	test: 0.5256239	best: 0.5256239 (1800)	total: 8.81s	remaining: 15.6s
2000:	learn: 0.4882154	test: 0.5049773	best: 0.5049773 (2000)	total: 10s	remaining: 15s
2200:	learn: 0.4697001	test: 0.4873718	best: 0.4873718 (2200)	total: 11.2s	remaining: 14.3s
2400:	learn: 0.4531267	test: 0.4719740	best: 0.4719740 (2400)	total: 12.4s	remaining: 13.4s
2600:	learn: 0.4376117	test: 0.4573034	best: 0.4573034 (2600)	total: 13.6s	remaining: 12.5s
2800:	learn: 0.4240834	test: 0.4446509	best: 0.4446509 (2800)	total: 14.8s	remaining: 11.6s
3000:	learn: 0.4117628	test: 0.4331022	best: 0.4331022 (3000)	total: 16s	remaining: 10.7s
3200:	learn: 0.4005653	test: 0.4227152	best: 0.4227152 (3200)	total: 17.1s	remaining: 9.59s
3400:	learn: 0.3893658	test: 0.4122492	best: 0.4122492 (3400)	total: 18.2s	remaining: 8.56s
3600:	learn: 0.3800121	test: 0.4034476	best: 0.4034476 (3600)	total: 19.1s	remaining: 7.42s
3800:	learn: 0.3709583	test: 0.3950143	best: 0.3950143 (3800)	total: 20.1s	remaining: 6.34s
4000:	learn: 0.3622406	test: 0.3869592	best: 0.3869592 (4000)	total: 21s	remaining: 5.24s
4200:	learn: 0.3539326	test: 0.3791852	best: 0.3791852 (4200)	total: 21.9s	remaining: 4.17s
4400:	learn: 0.3464871	test: 0.3723019	best: 0.3723019 (4400)	total: 22.9s	remaining: 3.11s
4600:	learn: 0.3395990	test: 0.3659557	best: 0.3659557 (4600)	total: 23.7s	remaining: 2.06s
4800:	learn: 0.3327721	test: 0.3596959	best: 0.3596959 (4800)	total: 24.7s	remaining: 1.02s
4999:	learn: 0.3266256	test: 0.3540798	best: 0.3540798 (4999)	total: 25.6s	remaining: 0us
bestTest = 0.3540797552
bestIteration = 4999

 40%|███████████████████████████████████▏                                                    | 2/5 [01:08<01:42, 34.27s/it]

Learning rate set to 0.072699
0:	learn: 9.2531718	test: 9.2855747	best: 9.2855747 (0)	total: 6.37ms	remaining: 31.8s
200:	learn: 1.1763653	test: 1.1798490	best: 1.1798490 (200)	total: 960ms	remaining: 22.9s
400:	learn: 0.9162269	test: 0.9254900	best: 0.9254900 (400)	total: 1.87s	remaining: 21.5s
600:	learn: 0.7812988	test: 0.7942571	best: 0.7942571 (600)	total: 2.83s	remaining: 20.7s
800:	learn: 0.7030073	test: 0.7176511	best: 0.7176511 (800)	total: 3.88s	remaining: 20.3s
1000:	learn: 0.6450306	test: 0.6611232	best: 0.6611232 (1000)	total: 4.91s	remaining: 19.6s
1200:	learn: 0.6002426	test: 0.6175509	best: 0.6175509 (1200)	total: 5.86s	remaining: 18.5s
1400:	learn: 0.5660613	test: 0.5843116	best: 0.5843116 (1400)	total: 6.91s	remaining: 17.8s
1600:	learn: 0.5388100	test: 0.5578897	best: 0.5578897 (1600)	total: 7.96s	remaining: 16.9s
1800:	learn: 0.5118966	test: 0.5313916	best: 0.5313916 (1800)	total: 8.98s	remaining: 15.9s
2000:	learn: 0.4898523	test: 0.5100616	best: 0.5100616 (2000)	total: 9.89s	remaining: 14.8s
2200:	learn: 0.4706184	test: 0.4915412	best: 0.4915412 (2200)	total: 10.8s	remaining: 13.7s
2400:	learn: 0.4537976	test: 0.4750985	best: 0.4750985 (2400)	total: 12.1s	remaining: 13s
2600:	learn: 0.4391120	test: 0.4610932	best: 0.4610932 (2600)	total: 13.2s	remaining: 12.2s
2800:	learn: 0.4248853	test: 0.4473602	best: 0.4473602 (2800)	total: 14.4s	remaining: 11.3s
3000:	learn: 0.4126215	test: 0.4356338	best: 0.4356338 (3000)	total: 15.6s	remaining: 10.4s
3200:	learn: 0.4008976	test: 0.4244318	best: 0.4244318 (3200)	total: 16.8s	remaining: 9.42s
3400:	learn: 0.3899389	test: 0.4140025	best: 0.4140025 (3400)	total: 17.9s	remaining: 8.43s
3600:	learn: 0.3801848	test: 0.4048069	best: 0.4048069 (3600)	total: 19.4s	remaining: 7.54s
3800:	learn: 0.3712545	test: 0.3963329	best: 0.3963329 (3800)	total: 21.4s	remaining: 6.75s
4000:	learn: 0.3624092	test: 0.3879859	best: 0.3879859 (4000)	total: 22.7s	remaining: 5.68s
4200:	learn: 0.3548148	test: 0.3808399	best: 0.3808399 (4200)	total: 24.1s	remaining: 4.58s
4400:	learn: 0.3470611	test: 0.3735162	best: 0.3735162 (4400)	total: 25.5s	remaining: 3.47s
4600:	learn: 0.3400759	test: 0.3669762	best: 0.3669762 (4600)	total: 26.8s	remaining: 2.32s
4800:	learn: 0.3336192	test: 0.3609476	best: 0.3609476 (4800)	total: 28.3s	remaining: 1.17s
4999:	learn: 0.3273658	test: 0.3552135	best: 0.3552135 (4999)	total: 29.5s	remaining: 0us
bestTest = 0.3552134571
bestIteration = 4999

 60%|████████████████████████████████████████████████████▊                                   | 3/5 [01:47<01:12, 36.36s/it]

Learning rate set to 0.072699
0:	learn: 9.2604847	test: 9.2566518	best: 9.2566518 (0)	total: 12.2ms	remaining: 1m 1s
200:	learn: 1.1766260	test: 1.1915537	best: 1.1915537 (200)	total: 1.03s	remaining: 24.5s
400:	learn: 0.9195981	test: 0.9335834	best: 0.9335834 (400)	total: 1.96s	remaining: 22.4s
600:	learn: 0.7925229	test: 0.8060954	best: 0.8060954 (600)	total: 2.96s	remaining: 21.7s
800:	learn: 0.7054785	test: 0.7193825	best: 0.7193825 (800)	total: 3.89s	remaining: 20.4s
1000:	learn: 0.6472040	test: 0.6624439	best: 0.6624439 (1000)	total: 4.82s	remaining: 19.2s
1200:	learn: 0.6010387	test: 0.6170350	best: 0.6170350 (1200)	total: 5.7s	remaining: 18s
1400:	learn: 0.5663212	test: 0.5828782	best: 0.5828782 (1400)	total: 6.59s	remaining: 16.9s
1600:	learn: 0.5363084	test: 0.5539357	best: 0.5539357 (1600)	total: 7.55s	remaining: 16s
1800:	learn: 0.5128233	test: 0.5311431	best: 0.5311431 (1800)	total: 8.53s	remaining: 15.2s
2000:	learn: 0.4903846	test: 0.5096631	best: 0.5096631 (2000)	total: 9.48s	remaining: 14.2s
2200:	learn: 0.4717637	test: 0.4919056	best: 0.4919056 (2200)	total: 10.4s	remaining: 13.2s
2400:	learn: 0.4540316	test: 0.4751969	best: 0.4751969 (2400)	total: 11.6s	remaining: 12.5s
2600:	learn: 0.4394786	test: 0.4613934	best: 0.4613934 (2600)	total: 12.8s	remaining: 11.8s
2800:	learn: 0.4253229	test: 0.4480950	best: 0.4480950 (2800)	total: 14s	remaining: 11s
3000:	learn: 0.4127960	test: 0.4363508	best: 0.4363508 (3000)	total: 15.1s	remaining: 10.1s
3200:	learn: 0.4010252	test: 0.4255385	best: 0.4255385 (3200)	total: 16.3s	remaining: 9.14s
3400:	learn: 0.3906649	test: 0.4158076	best: 0.4158076 (3400)	total: 17.4s	remaining: 8.2s
3600:	learn: 0.3808854	test: 0.4066039	best: 0.4066039 (3600)	total: 18.6s	remaining: 7.24s
3800:	learn: 0.3718941	test: 0.3982014	best: 0.3982014 (3800)	total: 19.9s	remaining: 6.28s
4000:	learn: 0.3634483	test: 0.3903231	best: 0.3903231 (4000)	total: 21.1s	remaining: 5.27s
4200:	learn: 0.3555115	test: 0.3829526	best: 0.3829526 (4200)	total: 22s	remaining: 4.19s
4400:	learn: 0.3478649	test: 0.3757740	best: 0.3757740 (4400)	total: 22.9s	remaining: 3.12s
4600:	learn: 0.3411673	test: 0.3696731	best: 0.3696731 (4600)	total: 23.8s	remaining: 2.07s
4800:	learn: 0.3344778	test: 0.3634502	best: 0.3634502 (4800)	total: 24.8s	remaining: 1.03s
4999:	learn: 0.3282015	test: 0.3577275	best: 0.3577275 (4999)	total: 25.7s	remaining: 0us
bestTest = 0.3577275115
bestIteration = 4999

 80%|██████████████████████████████████████████████████████████████████████▍                 | 4/5 [02:24<00:36, 36.63s/it]

Learning rate set to 0.072699
0:	learn: 9.2625918	test: 9.2370575	best: 9.2370575 (0)	total: 8.79ms	remaining: 44s
200:	learn: 1.1770188	test: 1.1825317	best: 1.1825317 (200)	total: 1.17s	remaining: 27.9s
400:	learn: 0.9246829	test: 0.9326397	best: 0.9326397 (400)	total: 2.37s	remaining: 27.1s
600:	learn: 0.7939350	test: 0.8038979	best: 0.8038979 (600)	total: 3.6s	remaining: 26.3s
800:	learn: 0.7086357	test: 0.7194791	best: 0.7194791 (800)	total: 4.8s	remaining: 25.1s
1000:	learn: 0.6532321	test: 0.6655922	best: 0.6655922 (1000)	total: 6.03s	remaining: 24.1s
1200:	learn: 0.6069932	test: 0.6207533	best: 0.6207533 (1200)	total: 7.15s	remaining: 22.6s
1400:	learn: 0.5699871	test: 0.5851422	best: 0.5851422 (1400)	total: 8.08s	remaining: 20.8s
1600:	learn: 0.5379997	test: 0.5539132	best: 0.5539132 (1600)	total: 9s	remaining: 19.1s
1800:	learn: 0.5128472	test: 0.5297007	best: 0.5297007 (1800)	total: 9.9s	remaining: 17.6s
2000:	learn: 0.4896949	test: 0.5073441	best: 0.5073441 (2000)	total: 10.9s	remaining: 16.3s
2200:	learn: 0.4707779	test: 0.4893574	best: 0.4893574 (2200)	total: 11.8s	remaining: 15s
2400:	learn: 0.4534003	test: 0.4728633	best: 0.4728633 (2400)	total: 12.8s	remaining: 13.8s
2600:	learn: 0.4378559	test: 0.4579899	best: 0.4579899 (2600)	total: 13.7s	remaining: 12.6s
2800:	learn: 0.4248602	test: 0.4457929	best: 0.4457929 (2800)	total: 14.7s	remaining: 11.5s
3000:	learn: 0.4121140	test: 0.4338216	best: 0.4338216 (3000)	total: 15.6s	remaining: 10.4s
3200:	learn: 0.4005415	test: 0.4229739	best: 0.4229739 (3200)	total: 16.5s	remaining: 9.28s
3400:	learn: 0.3897678	test: 0.4129389	best: 0.4129389 (3400)	total: 17.4s	remaining: 8.2s
3600:	learn: 0.3795948	test: 0.4033575	best: 0.4033575 (3600)	total: 18.3s	remaining: 7.12s
3800:	learn: 0.3705560	test: 0.3948376	best: 0.3948376 (3800)	total: 19.2s	remaining: 6.06s
4000:	learn: 0.3621206	test: 0.3869649	best: 0.3869649 (4000)	total: 20.3s	remaining: 5.08s
4200:	learn: 0.3542094	test: 0.3795542	best: 0.3795542 (4200)	total: 21.4s	remaining: 4.07s
4400:	learn: 0.3462797	test: 0.3722111	best: 0.3722111 (4400)	total: 22.6s	remaining: 3.07s
4600:	learn: 0.3394676	test: 0.3659146	best: 0.3659146 (4600)	total: 23.7s	remaining: 2.05s
4800:	learn: 0.3329264	test: 0.3598692	best: 0.3598692 (4800)	total: 25s	remaining: 1.03s
4999:	learn: 0.3267335	test: 0.3541577	best: 0.3541577 (4999)	total: 26.1s	remaining: 0us
bestTest = 0.354157746
bestIteration = 4999

100%|████████████████████████████████████████████████████████████████████████████████████████| 5/5 [02:59<00:00, 35.85s/it]
100%|████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 22.12it/s]

cos_sim with best submission: 0.9997920512160902