In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import torch
import torch.nn as nn
import torch.nn.functional as f
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader
from sklearn import preprocessing
from tqdm import tqdm
from sklearn.preprocessing import FunctionTransformer
import seaborn as sns 
from scipy import stats
import statsmodels.api as sm

from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, BaggingRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import ElasticNet, Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import SVR
from sklearn.model_selection import KFold, cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import PCA
from sklearn.preprocessing import RobustScaler
import h2o
from h2o.automl import H2OAutoML
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.neural_network import MLPRegressor
from scipy.stats import norm
import copy
from sklearn.model_selection import KFold
from catboost import CatBoostRegressor, Pool, metrics, cv
import xgboost as xgb
from scipy.stats import gmean
from sklearn.impute import KNNImputer
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [2]:
add_train = pd.read_csv('./n_train.csv')
add_test = pd.read_csv('./n_test.csv')

In [3]:
climate_type_dict = {'1':'BSk',
 '9': 'Dfb',
 '4': 'Cfa',
 '7': 'Csb',
 '8': 'Dfa',
 '3': 'BWk',
 '10': 'Dfc',
 '2': 'BWh',
 '6': 'Csa',
 '11': 'Dsb',
 '0': 'BSh',
 '5': 'Cfb',
 '12': 'Dsc',
 '13': 'Dwa',
 '14': 'Dwb'}

In [4]:
all_cols = add_train.columns.tolist()

In [5]:
target=["contest-tmp2m-14d__tmp2m"]

In [6]:
train_df =  pd.read_csv('fe_v1_train.csv')
test_df  =  pd.read_csv('fe_v1_test.csv')
for c in train_df.columns:
    if train_df[c].dtypes != 'float64':
        print(c)

climateregions__climateregion

In [7]:
exclude_cols = ['index', 'startdate']
best_cols = [c for c in train_df.columns if c not in exclude_cols and c not in target]
print("Main features:", len(best_cols))

Main features: 63

In [8]:
for c in all_cols:
    if 'contest-precip-14d' in c:
        print(c)

contest-precip-14d__precip

In [9]:
def calculate_season(month):
    if month == 12 or month == 1 or month == 2:
        return 4
    if month == 9 or month == 10 or month == 11:
        return 3
    if month == 7 or month == 8 or month == 6:
        return 2
    if month == 3 or month == 4 or month == 5:
        return 1

In [10]:
train_df['month'] = add_train['month']
test_df['month'] = add_test['month']

train_df['season'] = train_df['month'].apply(calculate_season)
test_df['season'] = test_df['month'].apply(calculate_season)

train_df['loc_group'] = add_train['loc_group']
test_df['loc_group'] = add_test['loc_group']

train_df['year'] = add_train['year']
test_df['year'] = add_test['year']

def map_climate_type(x):
    return climate_type_dict[str(x)]

train_df['climate_type'] = train_df['climateregions__climateregion'].apply(map_climate_type)
test_df['climate_type'] = train_df['climateregions__climateregion'].apply(map_climate_type)

precip_col = 'contest-precip-14d__precip'
wind_col = 'contest-wind-h500-14d__wind-hgt-500'

group_cols = ['loc_group', 'climate_type', 'year', 'season', 'month']
season_group_cols = ['loc_group', 'climate_type', 'year', 'season']

In [11]:
slp_col = 'contest-slp-14d__slp'
ccsm3_col = 'nmme-tmp2m-34w__ccsm3'
pres_col = 'contest-pres-sfc-gauss-14d__pres'
precip_col = 'contest-precip-14d__precip'
stt_col = 'sst-2010-1'
sst_col_5 = 'sst-2010-5'
sst_col_3 = 'sst-2010-3'

In [12]:
print(train_df[pres_col].min(), train_df[pres_col].max())
print(test_df[pres_col].min(), test_df[pres_col].max())

74839.94 102845.57
75925.02 102119.93

In [13]:
print(train_df[stt_col].min(), train_df[stt_col].max())
print(test_df[stt_col].min(), test_df[stt_col].max())

-219.87 352.2
89.73 345.33

In [14]:
print(train_df[sst_col_5].min(), train_df[sst_col_5].max())
print(test_df[sst_col_5].min(), test_df[sst_col_5].max())

-32.81 40.97
-4.62 21.5

In [15]:
print(train_df[precip_col].min(), train_df[precip_col].max())
print(test_df[precip_col].min(), test_df[precip_col].max())

0.0 502.63
0.0 439.54

In [16]:
# train_df[pres_col] = train_df[pres_col] - 100000
# test_df[pres_col] = test_df[pres_col] - 100000

In [17]:
print(train_df[slp_col].min(), train_df[slp_col].max())
print(test_df[slp_col].min(), test_df[slp_col].max())

100379.21 103275.84
100593.22 102258.27

In [18]:
print(train_df[wind_col].min(), train_df[wind_col].max())
print(test_df[wind_col].min(), test_df[wind_col].max())

5289.25 5958.2
5504.59 5925.56

In [19]:
train_df[wind_col] = train_df[wind_col] - 5000
test_df[wind_col] = test_df[wind_col] - 5000

In [20]:
train_df[slp_col] = train_df[slp_col] - 100000
test_df[slp_col] = test_df[slp_col] - 100000

In [21]:
check_cols = [c for c in train_df.columns if c not in target and c not in exclude_cols]

df = pd.concat([train_df[check_cols], test_df[check_cols]], axis=0)
df.shape

(407088, 68)

In [22]:
def create_df_by_group_and_agg(dataframe, grouped_cols, action, my_col, return_name):
    if action == "first":
        ans_df = dataframe.groupby(grouped_cols)[my_col].first().reset_index()
    elif action == "min":
        ans_df = dataframe.groupby(grouped_cols)[my_col].min().reset_index()
    elif action == "max":
        ans_df = dataframe.groupby(grouped_cols)[my_col].max().reset_index()
    elif action == "mean":
        ans_df = dataframe.groupby(grouped_cols)[my_col].mean().reset_index()
    print("Nan")
    ans_df = ans_df.rename(columns={my_col: return_name})
    for c in ans_df.columns:
        if ans_df[c].isnull().sum() > 0:
            print(c, ans_df[c].isnull().sum())
    return ans_df

In [23]:
def assign_train_test_df(my_col):
    train_df[my_col] = df[:len(train_df)][my_col].tolist()
    test_df[my_col] = df[len(train_df):][my_col].tolist()

In [24]:
first_slp_df = create_df_by_group_and_agg(df, season_group_cols, "first", slp_col, "first_slp")
first_slp_df.head(3)

Nan

   loc_group climate_type  year  season  first_slp
0          0          BSh  2014       3    1352.08
1          0          BSh  2014       4    2072.81
2          0          BSh  2015       1    1917.24

In [25]:
first_wind_df = create_df_by_group_and_agg(df, season_group_cols, "first", wind_col, "first_wind")
first_wind_df.head(3)

Nan

   loc_group climate_type  year  season  first_wind
0          0          BSh  2014       3      899.66
1          0          BSh  2014       4      847.35
2          0          BSh  2015       1      804.47

In [26]:
first_precip_df = create_df_by_group_and_agg(df, season_group_cols, "first", precip_col, "first_precip")
first_precip_df.head(3)

Nan

   loc_group climate_type  year  season  first_precip
0          0          BSh  2014       3         94.31
1          0          BSh  2014       4         25.53
2          0          BSh  2015       1         31.94

In [27]:
first_ccsm3_df = create_df_by_group_and_agg(df, season_group_cols, "first", ccsm3_col, "first_ccsm3")
first_ccsm3_df.head(3)

Nan

   loc_group climate_type  year  season  first_ccsm3
0          0          BSh  2014       3        27.57
1          0          BSh  2014       4         6.66
2          0          BSh  2015       1        15.25

In [28]:
first_pres_df = create_df_by_group_and_agg(df, season_group_cols, "first", ccsm3_col, "first_pres")
first_pres_df.head(3)

Nan

   loc_group climate_type  year  season  first_pres
0          0          BSh  2014       3       27.57
1          0          BSh  2014       4        6.66
2          0          BSh  2015       1       15.25

In [29]:
first_sst_df = create_df_by_group_and_agg(df, season_group_cols, "first", stt_col, "first_sst")
first_sst_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst
0          0          BSh  2014       3     352.20
1          0          BSh  2014       4     -27.73
2          0          BSh  2015       1    -182.10

In [30]:
first_sst_5_df = create_df_by_group_and_agg(df, season_group_cols, "first", sst_col_5, "first_sst_5")
first_sst_5_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst_5
0          0          BSh  2014       3        19.29
1          0          BSh  2014       4        24.82
2          0          BSh  2015       1        23.47

In [31]:
first_sst_3_df = create_df_by_group_and_agg(df, season_group_cols, "first", sst_col_3, "first_sst_3")
first_sst_3_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst_3
0          0          BSh  2014       3       -19.69
1          0          BSh  2014       4       -49.72
2          0          BSh  2015       1       -52.32

In [32]:
min_sst_df = create_df_by_group_and_agg(df, season_group_cols, "min", stt_col, "min_sst")
min_sst_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst
0          0          BSh  2014       3   -24.17
1          0          BSh  2014       4  -110.84
2          0          BSh  2015       1  -183.70

In [33]:
min_sst_5_df = create_df_by_group_and_agg(df, season_group_cols, "min", sst_col_5, "min_sst_5")
min_sst_5_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst_5
0          0          BSh  2014       3       7.98
1          0          BSh  2014       4      24.81
2          0          BSh  2015       1      -7.76

In [34]:
min_sst_3_df = create_df_by_group_and_agg(df, season_group_cols, "min", sst_col_3, "min_sst_3")
min_sst_3_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst_3
0          0          BSh  2014       3     -51.03
1          0          BSh  2014       4     -49.72
2          0          BSh  2015       1     -54.28

In [35]:
max_sst_df = create_df_by_group_and_agg(df, season_group_cols, "max", stt_col, "max_sst")
max_sst_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst
0          0          BSh  2014       3   352.20
1          0          BSh  2014       4   -27.73
2          0          BSh  2015       1    15.72

In [36]:
max_sst_5_df = create_df_by_group_and_agg(df, season_group_cols, "max", sst_col_5, "max_sst_5")
max_sst_5_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst_5
0          0          BSh  2014       3      24.50
1          0          BSh  2014       4      27.65
2          0          BSh  2015       1      23.47

In [37]:
max_sst_3_df = create_df_by_group_and_agg(df, season_group_cols, "max", sst_col_3, "max_sst_3")
max_sst_3_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst_3
0          0          BSh  2014       3     -19.69
1          0          BSh  2014       4     -31.16
2          0          BSh  2015       1     -15.60

In [38]:
first_slp_df_month = create_df_by_group_and_agg(df, group_cols, "first", slp_col, "first_slp_month")
first_slp_df_month.head(3)

Nan

   loc_group climate_type  year  season  month  first_slp_month
0          0          BSh  2014       3      9          1352.08
1          0          BSh  2014       3     10          1254.96
2          0          BSh  2014       3     11          1952.19

In [39]:
df = df.merge(first_slp_df, how='left', on=season_group_cols)
df['diff_slp_first'] = df[slp_col] - df['first_slp']
assign_train_test_df('diff_slp_first')

In [40]:
df = df.merge(first_precip_df, how='left', on=season_group_cols)
df['diff_precip_first'] = df[precip_col] - df['first_precip']
assign_train_test_df('diff_precip_first')

In [41]:
df = df.merge(first_sst_df, how='left', on=season_group_cols)
df['diff_sst_first'] = df[stt_col] - df['first_sst']
assign_train_test_df('diff_sst_first')

In [42]:
df = df.merge(first_sst_5_df, how='left', on=season_group_cols)
df['diff_sst_5_first'] = df[sst_col_5] - df['first_sst_5']
assign_train_test_df('diff_sst_5_first')

In [43]:
df = df.merge(first_sst_3_df, how='left', on=season_group_cols)
df['diff_sst_3_first'] = df[sst_col_3] - df['first_sst_3']
assign_train_test_df('diff_sst_3_first')

In [44]:
df = df.merge(min_sst_df, how='left', on=season_group_cols)
df['diff_sst_min'] = df[stt_col] - df['min_sst']
assign_train_test_df('diff_sst_min')

In [45]:
df = df.merge(max_sst_df, how='left', on=season_group_cols)
df['diff_sst_max'] = df['max_sst'] - df[stt_col]
assign_train_test_df('diff_sst_max')

In [46]:
df = df.merge(max_sst_5_df, how='left', on=season_group_cols)
df['diff_sst_5_max'] = df[sst_col_5] - df['max_sst_5']
assign_train_test_df('diff_sst_5_max')

In [47]:
df = df.merge(max_sst_3_df, how='left', on=season_group_cols)
df['diff_sst_3_max'] = df[sst_col_3] - df['max_sst_3']
assign_train_test_df('diff_sst_3_max')

In [48]:
df = df.merge(min_sst_5_df, how='left', on=season_group_cols)
df['diff_sst_5_min'] = df[sst_col_5] - df['min_sst_5']
assign_train_test_df('diff_sst_5_min')

In [49]:
df = df.merge(min_sst_3_df, how='left', on=season_group_cols)
df['diff_sst_3_min'] = df[sst_col_3] - df['min_sst_3']
assign_train_test_df('diff_sst_3_min')

In [50]:
df = df.merge(first_pres_df, how='left', on=season_group_cols)
df['diff_pres_first'] = df[pres_col] - df['first_pres']
assign_train_test_df('diff_pres_first')

In [51]:
df = df.merge(first_wind_df, how='left', on=season_group_cols)
df['diff_wind_first'] = df[wind_col] - df['first_wind']
assign_train_test_df('diff_wind_first')

In [52]:
df = df.merge(first_ccsm3_df, how='left', on=season_group_cols)
df['diff_ccsm3_first'] = df[ccsm3_col] - df['first_ccsm3']
assign_train_test_df('diff_ccsm3_first')

In [53]:
# df[f'{precip_col}_bins'] = pd.qcut(df[precip_col], q=5, labels=[f'{precip_col}_{i}' for i in range(5)])
# le = LabelEncoder().fit(np.unique(df[f'{precip_col}_bins'].unique().tolist()))
# df[f'{precip_col}_bins'] = le.transform(df[f'{precip_col}_bins']) + 1
# df[f'{precip_col}_bins'] = df[f'{precip_col}_bins'].replace(np.nan, 0).astype('int').astype('category')
# assign_train_test_df(f'{precip_col}_bins')

In [54]:
df['range_sst'] = df['max_sst'] - df['min_sst']
assign_train_test_df('range_sst')

In [55]:
df['range_sst_5'] = df['max_sst_5'] - df['min_sst_5']
assign_train_test_df('range_sst_5')

In [56]:
df['range_sst_3'] = df['max_sst_3'] - df['min_sst_3']
assign_train_test_df('range_sst_3')

In [57]:
features = best_cols + [
    'diff_slp_first',
    'diff_wind_first',
    'diff_sst_first',
    'diff_precip_first',
    'diff_sst_min',
    'diff_sst_max',
    'range_sst',
    'diff_sst_5_first',
    'diff_sst_5_min',
    'diff_sst_5_max',
    'range_sst_5',
    'diff_sst_3_first',
    'diff_sst_3_min',
    'diff_sst_3_max',
    'range_sst_3'
]

In [58]:
X = train_df[features].values
y = train_df[target[0]].values

skf = KFold(n_splits=5, random_state=2048, shuffle=True)
skf.get_n_splits(X, y)

train_index_list = []
test_index_list = []
train_x_list = []
val_x_list = []
train_y_list = []
val_y_list = []

for i, (train_index, test_index) in tqdm(enumerate(skf.split(X, y))):
    train_index_list.append(train_index)
    test_index_list.append(test_index)

    train_x_list.append(X[train_index, :])
    val_x_list.append(X[test_index, :])
    train_y_list.append(y[train_index])
    val_y_list.append(y[test_index])    
def train_catboost(x, y):
    print(x.shape, y.shape)
    
    cat_models = []
    for i in tqdm(range(5)):
        train_x, val_x = train_x_list[i], val_x_list[i]
        train_y, val_y = train_y_list[i], val_y_list[i]
        clf = CatBoostRegressor(iterations=5000, verbose=200, task_type="GPU",
                           devices='0:1')
        clf.fit(train_x, train_y, eval_set=[(val_x, val_y)], verbose=200, early_stopping_rounds=100)
        cat_models.append(clf)
    
    return cat_models
cat_models = train_catboost(X, y)

preds = []
for cat_model in tqdm(cat_models):
    preds.append(cat_model.predict(test_df[features].values))
s = 0
for pred in preds:
    s += pred
s = s/5
res_df = pd.read_csv('./sample_solution.csv')
res_df['contest-tmp2m-14d__tmp2m'] = s
res_df.to_csv('submission_fe_v2.csv', index=False)

best_df = pd.read_csv('best_sub.csv')
y_best = best_df[target[0]].values

from numpy import dot
from numpy.linalg import norm

cos_sim = dot(y_best, s)/(norm(y_best)*norm(s))
print("cos_sim with best submission:", cos_sim)

5it [00:04,  1.06it/s]

(375734, 78) (375734,)

  0%|                                                                                                | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.072699
0:	learn: 9.2611105	test: 9.2407165	best: 9.2407165 (0)	total: 6.07ms	remaining: 30.3s
200:	learn: 1.1821373	test: 1.1875026	best: 1.1875026 (200)	total: 1.09s	remaining: 26.1s
400:	learn: 0.9183588	test: 0.9259505	best: 0.9259505 (400)	total: 2.14s	remaining: 24.6s
600:	learn: 0.7919272	test: 0.8020935	best: 0.8020935 (600)	total: 3.1s	remaining: 22.7s
800:	learn: 0.7075547	test: 0.7192735	best: 0.7192735 (800)	total: 4.08s	remaining: 21.4s
1000:	learn: 0.6491738	test: 0.6625967	best: 0.6625967 (1000)	total: 5.03s	remaining: 20.1s
1200:	learn: 0.6034376	test: 0.6182350	best: 0.6182350 (1200)	total: 6.06s	remaining: 19.2s
1400:	learn: 0.5672383	test: 0.5836156	best: 0.5836156 (1400)	total: 7.07s	remaining: 18.2s
1600:	learn: 0.5372627	test: 0.5548642	best: 0.5548642 (1600)	total: 8.12s	remaining: 17.2s
1800:	learn: 0.5117500	test: 0.5303159	best: 0.5303159 (1800)	total: 9.11s	remaining: 16.2s
2000:	learn: 0.4893700	test: 0.5090594	best: 0.5090594 (2000)	total: 10.3s	remaining: 15.4s
2200:	learn: 0.4694985	test: 0.4902033	best: 0.4902033 (2200)	total: 11.5s	remaining: 14.6s
2400:	learn: 0.4531500	test: 0.4746849	best: 0.4746849 (2400)	total: 12.7s	remaining: 13.8s
2600:	learn: 0.4376519	test: 0.4599460	best: 0.4599460 (2600)	total: 14s	remaining: 12.9s
2800:	learn: 0.4238979	test: 0.4470675	best: 0.4470675 (2800)	total: 15.4s	remaining: 12.1s
3000:	learn: 0.4109363	test: 0.4349487	best: 0.4349487 (3000)	total: 16.7s	remaining: 11.2s
3200:	learn: 0.3998454	test: 0.4245706	best: 0.4245706 (3200)	total: 18s	remaining: 10.1s
3400:	learn: 0.3889993	test: 0.4144593	best: 0.4144593 (3400)	total: 19.3s	remaining: 9.08s
3600:	learn: 0.3789417	test: 0.4050240	best: 0.4050240 (3600)	total: 20.3s	remaining: 7.9s
3800:	learn: 0.3697920	test: 0.3966038	best: 0.3966038 (3800)	total: 21.3s	remaining: 6.71s
4000:	learn: 0.3612298	test: 0.3886674	best: 0.3886674 (4000)	total: 22.3s	remaining: 5.56s
4200:	learn: 0.3536087	test: 0.3816280	best: 0.3816280 (4200)	total: 23.3s	remaining: 4.43s
4400:	learn: 0.3463108	test: 0.3749511	best: 0.3749511 (4400)	total: 24.3s	remaining: 3.31s
4600:	learn: 0.3392241	test: 0.3684078	best: 0.3684078 (4600)	total: 25.3s	remaining: 2.19s
4800:	learn: 0.3326786	test: 0.3624368	best: 0.3624368 (4800)	total: 26.3s	remaining: 1.09s
4999:	learn: 0.3267074	test: 0.3570134	best: 0.3570134 (4999)	total: 27.2s	remaining: 0us
bestTest = 0.3570133802
bestIteration = 4999

 20%|                                                                      | 1/5 [00:36<02:27, 36.89s/it]

Learning rate set to 0.072699
0:	learn: 9.2537635	test: 9.2717026	best: 9.2717026 (0)	total: 6.18ms	remaining: 30.9s
200:	learn: 1.1732187	test: 1.1731469	best: 1.1731469 (200)	total: 1s	remaining: 24s
400:	learn: 0.9147446	test: 0.9186745	best: 0.9186745 (400)	total: 1.95s	remaining: 22.4s
600:	learn: 0.7820526	test: 0.7889963	best: 0.7889963 (600)	total: 3.08s	remaining: 22.5s
800:	learn: 0.7005292	test: 0.7098332	best: 0.7098332 (800)	total: 3.98s	remaining: 20.8s
1000:	learn: 0.6384243	test: 0.6496263	best: 0.6496263 (1000)	total: 4.86s	remaining: 19.4s
1200:	learn: 0.5954965	test: 0.6081160	best: 0.6081160 (1200)	total: 5.81s	remaining: 18.4s
1400:	learn: 0.5605605	test: 0.5744645	best: 0.5744645 (1400)	total: 6.8s	remaining: 17.5s
1600:	learn: 0.5328433	test: 0.5480348	best: 0.5480348 (1600)	total: 7.78s	remaining: 16.5s
1800:	learn: 0.5081303	test: 0.5244657	best: 0.5244657 (1800)	total: 8.69s	remaining: 15.4s
2000:	learn: 0.4875451	test: 0.5049386	best: 0.5049386 (2000)	total: 9.74s	remaining: 14.6s
2200:	learn: 0.4679661	test: 0.4865253	best: 0.4865253 (2200)	total: 11s	remaining: 14s
2400:	learn: 0.4503699	test: 0.4697867	best: 0.4697867 (2400)	total: 12.1s	remaining: 13.1s
2600:	learn: 0.4348866	test: 0.4553531	best: 0.4553531 (2600)	total: 13.4s	remaining: 12.3s
2800:	learn: 0.4208057	test: 0.4420025	best: 0.4420025 (2800)	total: 14.6s	remaining: 11.5s
3000:	learn: 0.4083266	test: 0.4302253	best: 0.4302253 (3000)	total: 15.9s	remaining: 10.6s
3200:	learn: 0.3977042	test: 0.4203726	best: 0.4203726 (3200)	total: 17.2s	remaining: 9.66s
3400:	learn: 0.3876970	test: 0.4109951	best: 0.4109951 (3400)	total: 18.3s	remaining: 8.59s
3600:	learn: 0.3781147	test: 0.4019580	best: 0.4019580 (3600)	total: 19.3s	remaining: 7.49s
3800:	learn: 0.3692062	test: 0.3935518	best: 0.3935518 (3800)	total: 20.3s	remaining: 6.4s
4000:	learn: 0.3610307	test: 0.3859246	best: 0.3859246 (4000)	total: 21.2s	remaining: 5.3s
4200:	learn: 0.3526717	test: 0.3780725	best: 0.3780725 (4200)	total: 22.1s	remaining: 4.2s
4400:	learn: 0.3453995	test: 0.3713439	best: 0.3713439 (4400)	total: 23s	remaining: 3.13s
4600:	learn: 0.3382926	test: 0.3646951	best: 0.3646951 (4600)	total: 24s	remaining: 2.08s
4800:	learn: 0.3319079	test: 0.3588315	best: 0.3588315 (4800)	total: 24.9s	remaining: 1.03s
4999:	learn: 0.3256939	test: 0.3530777	best: 0.3530777 (4999)	total: 26s	remaining: 0us
bestTest = 0.3530776812
bestIteration = 4999

 40%|                                                    | 2/5 [01:11<01:47, 35.82s/it]

Learning rate set to 0.072699
0:	learn: 9.2531718	test: 9.2855747	best: 9.2855747 (0)	total: 5.94ms	remaining: 29.7s
200:	learn: 1.1821959	test: 1.1828412	best: 1.1828412 (200)	total: 998ms	remaining: 23.8s
400:	learn: 0.9192884	test: 0.9252744	best: 0.9252744 (400)	total: 1.92s	remaining: 22.1s
600:	learn: 0.7831895	test: 0.7934983	best: 0.7934983 (600)	total: 3.05s	remaining: 22.3s
800:	learn: 0.7028380	test: 0.7153482	best: 0.7153482 (800)	total: 4.05s	remaining: 21.2s
1000:	learn: 0.6418853	test: 0.6559548	best: 0.6559548 (1000)	total: 4.99s	remaining: 19.9s
1200:	learn: 0.5979887	test: 0.6133103	best: 0.6133103 (1200)	total: 5.89s	remaining: 18.6s
1400:	learn: 0.5625812	test: 0.5788878	best: 0.5788878 (1400)	total: 6.85s	remaining: 17.6s
1600:	learn: 0.5332348	test: 0.5505031	best: 0.5505031 (1600)	total: 7.72s	remaining: 16.4s
1800:	learn: 0.5080999	test: 0.5260020	best: 0.5260020 (1800)	total: 8.84s	remaining: 15.7s
2000:	learn: 0.4864064	test: 0.5053271	best: 0.5053271 (2000)	total: 9.96s	remaining: 14.9s
2200:	learn: 0.4680084	test: 0.4878489	best: 0.4878489 (2200)	total: 11.2s	remaining: 14.3s
2400:	learn: 0.4503560	test: 0.4708467	best: 0.4708467 (2400)	total: 12.3s	remaining: 13.3s
2600:	learn: 0.4351613	test: 0.4562528	best: 0.4562528 (2600)	total: 13.6s	remaining: 12.5s
2800:	learn: 0.4209244	test: 0.4427353	best: 0.4427353 (2800)	total: 14.7s	remaining: 11.5s
3000:	learn: 0.4089910	test: 0.4313034	best: 0.4313034 (3000)	total: 15.8s	remaining: 10.6s
3200:	learn: 0.3977856	test: 0.4206514	best: 0.4206514 (3200)	total: 17s	remaining: 9.58s
3400:	learn: 0.3871202	test: 0.4106221	best: 0.4106221 (3400)	total: 18s	remaining: 8.45s
3600:	learn: 0.3774887	test: 0.4015172	best: 0.4015172 (3600)	total: 18.9s	remaining: 7.36s
3800:	learn: 0.3681517	test: 0.3926090	best: 0.3926090 (3800)	total: 20s	remaining: 6.31s
4000:	learn: 0.3600358	test: 0.3850779	best: 0.3850779 (4000)	total: 21s	remaining: 5.24s
4200:	learn: 0.3522969	test: 0.3778179	best: 0.3778179 (4200)	total: 21.9s	remaining: 4.17s
4400:	learn: 0.3449855	test: 0.3709993	best: 0.3709993 (4400)	total: 22.8s	remaining: 3.1s
4600:	learn: 0.3379470	test: 0.3643971	best: 0.3643971 (4600)	total: 23.7s	remaining: 2.06s
4800:	learn: 0.3310431	test: 0.3579374	best: 0.3579374 (4800)	total: 24.7s	remaining: 1.02s
4999:	learn: 0.3248935	test: 0.3522334	best: 0.3522334 (4999)	total: 25.7s	remaining: 0us
bestTest = 0.3522334289
bestIteration = 4999

 60%|                                   | 3/5 [01:46<01:10, 35.44s/it]

Learning rate set to 0.072699
0:	learn: 9.2604847	test: 9.2566518	best: 9.2566518 (0)	total: 6.75ms	remaining: 33.7s
200:	learn: 1.1723886	test: 1.1873714	best: 1.1873714 (200)	total: 914ms	remaining: 21.8s
400:	learn: 0.9139956	test: 0.9277570	best: 0.9277570 (400)	total: 1.86s	remaining: 21.3s
600:	learn: 0.7865061	test: 0.8002421	best: 0.8002421 (600)	total: 2.76s	remaining: 20.2s
800:	learn: 0.7009407	test: 0.7145692	best: 0.7145692 (800)	total: 3.68s	remaining: 19.3s
1000:	learn: 0.6433385	test: 0.6582231	best: 0.6582231 (1000)	total: 4.62s	remaining: 18.5s
1200:	learn: 0.5977018	test: 0.6134905	best: 0.6134905 (1200)	total: 5.61s	remaining: 17.7s
1400:	learn: 0.5623695	test: 0.5790099	best: 0.5790099 (1400)	total: 6.56s	remaining: 16.8s
1600:	learn: 0.5324388	test: 0.5499149	best: 0.5499149 (1600)	total: 7.44s	remaining: 15.8s
1800:	learn: 0.5074598	test: 0.5256680	best: 0.5256680 (1800)	total: 8.41s	remaining: 14.9s
2000:	learn: 0.4864087	test: 0.5056668	best: 0.5056668 (2000)	total: 9.39s	remaining: 14.1s
2200:	learn: 0.4673012	test: 0.4873748	best: 0.4873748 (2200)	total: 10.7s	remaining: 13.6s
2400:	learn: 0.4504792	test: 0.4713989	best: 0.4713989 (2400)	total: 11.9s	remaining: 12.9s
2600:	learn: 0.4352994	test: 0.4570386	best: 0.4570386 (2600)	total: 12.9s	remaining: 11.9s
2800:	learn: 0.4215274	test: 0.4440530	best: 0.4440530 (2800)	total: 14.2s	remaining: 11.1s
3000:	learn: 0.4089467	test: 0.4322604	best: 0.4322604 (3000)	total: 15.4s	remaining: 10.2s
3200:	learn: 0.3981521	test: 0.4220295	best: 0.4220295 (3200)	total: 16.6s	remaining: 9.34s
3400:	learn: 0.3879025	test: 0.4124185	best: 0.4124185 (3400)	total: 17.9s	remaining: 8.42s
3600:	learn: 0.3777247	test: 0.4028265	best: 0.4028265 (3600)	total: 19s	remaining: 7.36s
3800:	learn: 0.3683031	test: 0.3940112	best: 0.3940112 (3800)	total: 19.9s	remaining: 6.28s
4000:	learn: 0.3598411	test: 0.3861068	best: 0.3861068 (4000)	total: 20.9s	remaining: 5.21s
4200:	learn: 0.3520224	test: 0.3787647	best: 0.3787647 (4200)	total: 21.8s	remaining: 4.15s
4400:	learn: 0.3446022	test: 0.3719823	best: 0.3719823 (4400)	total: 22.8s	remaining: 3.11s
4600:	learn: 0.3375071	test: 0.3655041	best: 0.3655041 (4600)	total: 23.8s	remaining: 2.06s
4800:	learn: 0.3308042	test: 0.3593187	best: 0.3593187 (4800)	total: 24.9s	remaining: 1.03s
4999:	learn: 0.3246308	test: 0.3535930	best: 0.3535930 (4999)	total: 25.8s	remaining: 0us
bestTest = 0.3535929751
bestIteration = 4999

 80%|                 | 4/5 [02:21<00:35, 35.14s/it]

Learning rate set to 0.072699
0:	learn: 9.2625918	test: 9.2370575	best: 9.2370575 (0)	total: 6.56ms	remaining: 32.8s
200:	learn: 1.1735731	test: 1.1787869	best: 1.1787869 (200)	total: 1.03s	remaining: 24.6s
400:	learn: 0.9144807	test: 0.9225820	best: 0.9225820 (400)	total: 1.97s	remaining: 22.6s
600:	learn: 0.7829890	test: 0.7924937	best: 0.7924937 (600)	total: 3.03s	remaining: 22.2s
800:	learn: 0.7025451	test: 0.7140124	best: 0.7140124 (800)	total: 3.92s	remaining: 20.5s
1000:	learn: 0.6416625	test: 0.6544759	best: 0.6544759 (1000)	total: 4.85s	remaining: 19.4s
1200:	learn: 0.5990840	test: 0.6135165	best: 0.6135165 (1200)	total: 5.8s	remaining: 18.3s
1400:	learn: 0.5624976	test: 0.5780879	best: 0.5780879 (1400)	total: 6.83s	remaining: 17.5s
1600:	learn: 0.5336735	test: 0.5503545	best: 0.5503545 (1600)	total: 7.86s	remaining: 16.7s
1800:	learn: 0.5089837	test: 0.5266715	best: 0.5266715 (1800)	total: 8.82s	remaining: 15.7s
2000:	learn: 0.4871649	test: 0.5057357	best: 0.5057357 (2000)	total: 9.93s	remaining: 14.9s
2200:	learn: 0.4684281	test: 0.4879879	best: 0.4879879 (2200)	total: 11s	remaining: 14s
2400:	learn: 0.4514242	test: 0.4717523	best: 0.4717523 (2400)	total: 12.2s	remaining: 13.2s
2600:	learn: 0.4362202	test: 0.4572516	best: 0.4572516 (2600)	total: 13.4s	remaining: 12.4s
2800:	learn: 0.4225555	test: 0.4442205	best: 0.4442205 (2800)	total: 14.8s	remaining: 11.6s
3000:	learn: 0.4102770	test: 0.4324748	best: 0.4324748 (3000)	total: 16s	remaining: 10.7s
3200:	learn: 0.3984074	test: 0.4212516	best: 0.4212516 (3200)	total: 17.3s	remaining: 9.7s
3400:	learn: 0.3877338	test: 0.4110871	best: 0.4110871 (3400)	total: 18.4s	remaining: 8.66s
3600:	learn: 0.3783707	test: 0.4024037	best: 0.4024037 (3600)	total: 19.5s	remaining: 7.57s
3800:	learn: 0.3689105	test: 0.3935897	best: 0.3935897 (3800)	total: 20.4s	remaining: 6.43s
4000:	learn: 0.3608327	test: 0.3860756	best: 0.3860756 (4000)	total: 21.4s	remaining: 5.33s
4200:	learn: 0.3527718	test: 0.3785897	best: 0.3785897 (4200)	total: 22.3s	remaining: 4.24s
4400:	learn: 0.3452331	test: 0.3716012	best: 0.3716012 (4400)	total: 23.3s	remaining: 3.18s
4600:	learn: 0.3386403	test: 0.3654189	best: 0.3654189 (4600)	total: 24.3s	remaining: 2.11s
4800:	learn: 0.3320956	test: 0.3594535	best: 0.3594535 (4800)	total: 25.3s	remaining: 1.05s
4999:	learn: 0.3259706	test: 0.3537493	best: 0.3537493 (4999)	total: 26.3s	remaining: 0us
bestTest = 0.3537493426
bestIteration = 4999

100%|| 5/5 [02:57<00:00, 35.42s/it]
100%|| 5/5 [00:00<00:00, 26.01it/s]

cos_sim with best submission: 0.999790474634046