In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import torch
import torch.nn as nn
import torch.nn.functional as f
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader
from sklearn import preprocessing
from tqdm import tqdm
from sklearn.preprocessing import FunctionTransformer
import seaborn as sns 
from scipy import stats
import statsmodels.api as sm

from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, BaggingRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import ElasticNet, Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import SVR
from sklearn.model_selection import KFold, cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import PCA
from sklearn.preprocessing import RobustScaler
import h2o
from h2o.automl import H2OAutoML
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.neural_network import MLPRegressor
from scipy.stats import norm
import copy
from sklearn.model_selection import KFold
from catboost import CatBoostRegressor, Pool, metrics, cv
import xgboost as xgb
from scipy.stats import gmean
from sklearn.impute import KNNImputer
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [2]:
add_train = pd.read_csv('./n_train.csv')
add_test = pd.read_csv('./n_test.csv')

In [3]:
sst_col_list = [c for c in add_train.columns if 'sst' in c]
sst_col_list

['sst-2010-1',
 'sst-2010-2',
 'sst-2010-3',
 'sst-2010-4',
 'sst-2010-5',
 'sst-2010-6',
 'sst-2010-7',
 'sst-2010-8',
 'sst-2010-9',
 'sst-2010-10']

In [4]:
climate_type_dict = {'1':'BSk',
 '9': 'Dfb',
 '4': 'Cfa',
 '7': 'Csb',
 '8': 'Dfa',
 '3': 'BWk',
 '10': 'Dfc',
 '2': 'BWh',
 '6': 'Csa',
 '11': 'Dsb',
 '0': 'BSh',
 '5': 'Cfb',
 '12': 'Dsc',
 '13': 'Dwa',
 '14': 'Dwb'}

In [5]:
all_cols = add_train.columns.tolist()

In [6]:
target=["contest-tmp2m-14d__tmp2m"]

In [7]:
train_df =  pd.read_csv('fe_v1_train.csv')
test_df  =  pd.read_csv('fe_v1_test.csv')
for c in train_df.columns:
    if train_df[c].dtypes != 'float64':
        print(c)

climateregions__climateregion

In [8]:
exclude_cols = ['index', 'startdate']
best_cols = [c for c in train_df.columns if c not in exclude_cols and c not in target]
print("Main features:", len(best_cols))

Main features: 63

In [9]:
train_df[sst_col_list] = add_train[sst_col_list]
test_df[sst_col_list] = add_test[sst_col_list]

In [10]:
for c in all_cols:
    if 'contest-precip-14d' in c:
        print(c)

contest-precip-14d__precip

In [11]:
def calculate_season(month):
    if month == 12 or month == 1 or month == 2:
        return 4
    if month == 9 or month == 10 or month == 11:
        return 3
    if month == 7 or month == 8 or month == 6:
        return 2
    if month == 3 or month == 4 or month == 5:
        return 1

In [12]:
train_df['month'] = add_train['month']
test_df['month'] = add_test['month']

train_df['season'] = train_df['month'].apply(calculate_season)
test_df['season'] = test_df['month'].apply(calculate_season)

train_df['loc_group'] = add_train['loc_group']
test_df['loc_group'] = add_test['loc_group']

train_df['year'] = add_train['year']
test_df['year'] = add_test['year']

def map_climate_type(x):
    return climate_type_dict[str(x)]

train_df['climate_type'] = train_df['climateregions__climateregion'].apply(map_climate_type)
test_df['climate_type'] = train_df['climateregions__climateregion'].apply(map_climate_type)

precip_col = 'contest-precip-14d__precip'
wind_col = 'contest-wind-h500-14d__wind-hgt-500'

group_cols = ['loc_group', 'climate_type', 'year', 'season', 'month']
season_group_cols = ['loc_group', 'climate_type', 'year', 'season']

In [13]:
slp_col = 'contest-slp-14d__slp'
ccsm3_col = 'nmme-tmp2m-34w__ccsm3'
pres_col = 'contest-pres-sfc-gauss-14d__pres'
precip_col = 'contest-precip-14d__precip'
stt_col = 'sst-2010-1'
sst_col_5 = 'sst-2010-5'
sst_col_3 = 'sst-2010-3'
sst_col_4 = 'sst-2010-4'

In [14]:
print(train_df[pres_col].min(), train_df[pres_col].max())
print(test_df[pres_col].min(), test_df[pres_col].max())

74839.94 102845.57
75925.02 102119.93

In [15]:
print(train_df[stt_col].min(), train_df[stt_col].max())
print(test_df[stt_col].min(), test_df[stt_col].max())

-219.87 352.2
89.73 345.33

In [16]:
print(train_df[sst_col_5].min(), train_df[sst_col_5].max())
print(test_df[sst_col_5].min(), test_df[sst_col_5].max())

-32.81 40.97
-4.62 21.5

In [17]:
print(train_df[precip_col].min(), train_df[precip_col].max())
print(test_df[precip_col].min(), test_df[precip_col].max())

0.0 502.63
0.0 439.54

In [18]:
# train_df[pres_col] = train_df[pres_col] - 100000
# test_df[pres_col] = test_df[pres_col] - 100000

In [19]:
print(train_df[slp_col].min(), train_df[slp_col].max())
print(test_df[slp_col].min(), test_df[slp_col].max())

100379.21 103275.84
100593.22 102258.27

In [20]:
print(train_df[wind_col].min(), train_df[wind_col].max())
print(test_df[wind_col].min(), test_df[wind_col].max())

5289.25 5958.2
5504.59 5925.56

In [21]:
train_df[wind_col] = train_df[wind_col] - 5000
test_df[wind_col] = test_df[wind_col] - 5000

In [22]:
train_df[slp_col] = train_df[slp_col] - 100000
test_df[slp_col] = test_df[slp_col] - 100000

In [23]:
check_cols = [c for c in train_df.columns if c not in target and c not in exclude_cols]

df = pd.concat([train_df[check_cols], test_df[check_cols]], axis=0)
df.shape

(407088, 74)

In [24]:
def create_df_by_group_and_agg(dataframe, grouped_cols, action, my_col, return_name):
    if action == "first":
        ans_df = dataframe.groupby(grouped_cols)[my_col].first().reset_index()
    elif action == "min":
        ans_df = dataframe.groupby(grouped_cols)[my_col].min().reset_index()
    elif action == "max":
        ans_df = dataframe.groupby(grouped_cols)[my_col].max().reset_index()
    elif action == "mean":
        ans_df = dataframe.groupby(grouped_cols)[my_col].mean().reset_index()
    print("Nan")
    ans_df = ans_df.rename(columns={my_col: return_name})
    for c in ans_df.columns:
        if ans_df[c].isnull().sum() > 0:
            print(c, ans_df[c].isnull().sum())
    return ans_df

In [25]:
def assign_train_test_df(my_col):
    train_df[my_col] = df[:len(train_df)][my_col].tolist()
    test_df[my_col] = df[len(train_df):][my_col].tolist()

In [26]:
first_slp_df = create_df_by_group_and_agg(df, season_group_cols, "first", slp_col, "first_slp")
first_slp_df.head(3)

Nan

   loc_group climate_type  year  season  first_slp
0          0          BSh  2014       3    1352.08
1          0          BSh  2014       4    2072.81
2          0          BSh  2015       1    1917.24

In [27]:
first_wind_df = create_df_by_group_and_agg(df, season_group_cols, "first", wind_col, "first_wind")
first_wind_df.head(3)

Nan

   loc_group climate_type  year  season  first_wind
0          0          BSh  2014       3      899.66
1          0          BSh  2014       4      847.35
2          0          BSh  2015       1      804.47

In [28]:
first_precip_df = create_df_by_group_and_agg(df, season_group_cols, "first", precip_col, "first_precip")
first_precip_df.head(3)

Nan

   loc_group climate_type  year  season  first_precip
0          0          BSh  2014       3         94.31
1          0          BSh  2014       4         25.53
2          0          BSh  2015       1         31.94

In [29]:
first_ccsm3_df = create_df_by_group_and_agg(df, season_group_cols, "first", ccsm3_col, "first_ccsm3")
first_ccsm3_df.head(3)

Nan

   loc_group climate_type  year  season  first_ccsm3
0          0          BSh  2014       3        27.57
1          0          BSh  2014       4         6.66
2          0          BSh  2015       1        15.25

In [30]:
first_pres_df = create_df_by_group_and_agg(df, season_group_cols, "first", ccsm3_col, "first_pres")
first_pres_df.head(3)

Nan

   loc_group climate_type  year  season  first_pres
0          0          BSh  2014       3       27.57
1          0          BSh  2014       4        6.66
2          0          BSh  2015       1       15.25

In [31]:
def assign_train_test_sst_df(df, my_col):
    train_df[my_col] = df[:len(train_df)][my_col].tolist()
    test_df[my_col] = df[len(train_df):][my_col].tolist()
    return df


def create_sst_feature(df, sst_col_name, suffix_num, season_group_cols):
    first_df = create_df_by_group_and_agg(df, season_group_cols, "first", sst_col_name, f"first_sst_{suffix_num}")
    min_df = create_df_by_group_and_agg(df, season_group_cols, "min", sst_col_name, f"min_sst_{suffix_num}")
    max_df = create_df_by_group_and_agg(df, season_group_cols, "max", sst_col_name, f"max_sst_{suffix_num}")
    
    df = df.merge(first_df, how='left', on=season_group_cols)
    df[f'diff_sst_{suffix_num}_first'] = df[sst_col_name] - df[f"first_sst_{suffix_num}"]
    print("Bug: ", df[f'diff_sst_{suffix_num}_first'].isnull().sum())
    df = assign_train_test_sst_df(df, f'diff_sst_{suffix_num}_first')
    
    df = df.merge(min_df, how='left', on=season_group_cols)
    df[f'diff_sst_{suffix_num}_min'] = df[sst_col_name] - df[f"min_sst_{suffix_num}"]
    df = assign_train_test_sst_df(df, f'diff_sst_{suffix_num}_min')
    
    df = df.merge(max_df, how='left', on=season_group_cols)
    df[f'diff_sst_{suffix_num}_max'] = df[sst_col_name] - df[f"max_sst_{suffix_num}"]
    df = assign_train_test_sst_df(df, f'diff_sst_{suffix_num}_max')
    
    df[f'range_sst_{suffix_num}'] = df[f"max_sst_{suffix_num}"] - df[f"min_sst_{suffix_num}"]
    df = assign_train_test_sst_df(df, f'range_sst_{suffix_num}')
    
    return [df, f'diff_sst_{suffix_num}_first',
    f'diff_sst_{suffix_num}_min',
    f'diff_sst_{suffix_num}_max',
    f'range_sst_{suffix_num}']

In [32]:
first_sst_df = create_df_by_group_and_agg(df, season_group_cols, "first", stt_col, "first_sst")
first_sst_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst
0          0          BSh  2014       3     352.20
1          0          BSh  2014       4     -27.73
2          0          BSh  2015       1    -182.10

In [33]:
first_sst_5_df = create_df_by_group_and_agg(df, season_group_cols, "first", sst_col_5, "first_sst_5")
first_sst_5_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst_5
0          0          BSh  2014       3        19.29
1          0          BSh  2014       4        24.82
2          0          BSh  2015       1        23.47

In [34]:
first_sst_3_df = create_df_by_group_and_agg(df, season_group_cols, "first", sst_col_3, "first_sst_3")
first_sst_3_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst_3
0          0          BSh  2014       3       -19.69
1          0          BSh  2014       4       -49.72
2          0          BSh  2015       1       -52.32

In [35]:
first_sst_4_df = create_df_by_group_and_agg(df, season_group_cols, "first", sst_col_4, "first_sst_4")
first_sst_4_df.head(3)

Nan

   loc_group climate_type  year  season  first_sst_4
0          0          BSh  2014       3        13.58
1          0          BSh  2014       4       -31.92
2          0          BSh  2015       1        28.51

In [36]:
min_sst_df = create_df_by_group_and_agg(df, season_group_cols, "min", stt_col, "min_sst")
min_sst_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst
0          0          BSh  2014       3   -24.17
1          0          BSh  2014       4  -110.84
2          0          BSh  2015       1  -183.70

In [37]:
min_sst_5_df = create_df_by_group_and_agg(df, season_group_cols, "min", sst_col_5, "min_sst_5")
min_sst_5_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst_5
0          0          BSh  2014       3       7.98
1          0          BSh  2014       4      24.81
2          0          BSh  2015       1      -7.76

In [38]:
min_sst_3_df = create_df_by_group_and_agg(df, season_group_cols, "min", sst_col_3, "min_sst_3")
min_sst_3_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst_3
0          0          BSh  2014       3     -51.03
1          0          BSh  2014       4     -49.72
2          0          BSh  2015       1     -54.28

In [39]:
min_sst_4_df = create_df_by_group_and_agg(df, season_group_cols, "min", sst_col_4, "min_sst_4")
min_sst_4_df.head(3)

Nan

   loc_group climate_type  year  season  min_sst_4
0          0          BSh  2014       3     -43.36
1          0          BSh  2014       4     -31.92
2          0          BSh  2015       1     -47.34

In [40]:
max_sst_df = create_df_by_group_and_agg(df, season_group_cols, "max", stt_col, "max_sst")
max_sst_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst
0          0          BSh  2014       3   352.20
1          0          BSh  2014       4   -27.73
2          0          BSh  2015       1    15.72

In [41]:
max_sst_5_df = create_df_by_group_and_agg(df, season_group_cols, "max", sst_col_5, "max_sst_5")
max_sst_5_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst_5
0          0          BSh  2014       3      24.50
1          0          BSh  2014       4      27.65
2          0          BSh  2015       1      23.47

In [42]:
max_sst_3_df = create_df_by_group_and_agg(df, season_group_cols, "max", sst_col_3, "max_sst_3")
max_sst_3_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst_3
0          0          BSh  2014       3     -19.69
1          0          BSh  2014       4     -31.16
2          0          BSh  2015       1     -15.60

In [43]:
max_sst_4_df = create_df_by_group_and_agg(df, season_group_cols, "max", sst_col_4, "max_sst_4")
max_sst_4_df.head(3)

Nan

   loc_group climate_type  year  season  max_sst_4
0          0          BSh  2014       3      13.58
1          0          BSh  2014       4      -3.56
2          0          BSh  2015       1      28.51

In [44]:
first_slp_df_month = create_df_by_group_and_agg(df, group_cols, "first", slp_col, "first_slp_month")
first_slp_df_month.head(3)

Nan

   loc_group climate_type  year  season  month  first_slp_month
0          0          BSh  2014       3      9          1352.08
1          0          BSh  2014       3     10          1254.96
2          0          BSh  2014       3     11          1952.19

In [45]:
df = df.merge(first_slp_df, how='left', on=season_group_cols)
df['diff_slp_first'] = df[slp_col] - df['first_slp']
assign_train_test_df('diff_slp_first')

In [46]:
df = df.merge(first_precip_df, how='left', on=season_group_cols)
df['diff_precip_first'] = df[precip_col] - df['first_precip']
assign_train_test_df('diff_precip_first')

In [47]:
df = df.merge(first_sst_df, how='left', on=season_group_cols)
df['diff_sst_first'] = df[stt_col] - df['first_sst']
assign_train_test_df('diff_sst_first')

In [48]:
df = df.merge(first_sst_5_df, how='left', on=season_group_cols)
df['diff_sst_5_first'] = df[sst_col_5] - df['first_sst_5']
assign_train_test_df('diff_sst_5_first')

In [49]:
df = df.merge(first_sst_3_df, how='left', on=season_group_cols)
df['diff_sst_3_first'] = df[sst_col_3] - df['first_sst_3']
assign_train_test_df('diff_sst_3_first')

In [50]:
df = df.merge(first_sst_4_df, how='left', on=season_group_cols)
df['diff_sst_4_first'] = df[sst_col_4] - df['first_sst_4']
assign_train_test_df('diff_sst_4_first')

In [51]:
df = df.merge(min_sst_df, how='left', on=season_group_cols)
df['diff_sst_min'] = df[stt_col] - df['min_sst']
assign_train_test_df('diff_sst_min')

In [52]:
df = df.merge(max_sst_df, how='left', on=season_group_cols)
df['diff_sst_max'] = df['max_sst'] - df[stt_col]
assign_train_test_df('diff_sst_max')

In [53]:
df = df.merge(max_sst_5_df, how='left', on=season_group_cols)
df['diff_sst_5_max'] = df[sst_col_5] - df['max_sst_5']
assign_train_test_df('diff_sst_5_max')

In [54]:
df = df.merge(max_sst_3_df, how='left', on=season_group_cols)
df['diff_sst_3_max'] = df[sst_col_3] - df['max_sst_3']
assign_train_test_df('diff_sst_3_max')

In [55]:
df = df.merge(max_sst_4_df, how='left', on=season_group_cols)
df['diff_sst_4_max'] = df[sst_col_4] - df['max_sst_4']
assign_train_test_df('diff_sst_4_max')

In [56]:
df = df.merge(min_sst_5_df, how='left', on=season_group_cols)
df['diff_sst_5_min'] = df[sst_col_5] - df['min_sst_5']
assign_train_test_df('diff_sst_5_min')

In [57]:
df = df.merge(min_sst_3_df, how='left', on=season_group_cols)
df['diff_sst_3_min'] = df[sst_col_3] - df['min_sst_3']
assign_train_test_df('diff_sst_3_min')

In [58]:
df = df.merge(min_sst_4_df, how='left', on=season_group_cols)
df['diff_sst_4_min'] = df[sst_col_3] - df['min_sst_4']
assign_train_test_df('diff_sst_4_min')

In [59]:
df = df.merge(first_pres_df, how='left', on=season_group_cols)
df['diff_pres_first'] = df[pres_col] - df['first_pres']
assign_train_test_df('diff_pres_first')

In [60]:
df = df.merge(first_wind_df, how='left', on=season_group_cols)
df['diff_wind_first'] = df[wind_col] - df['first_wind']
assign_train_test_df('diff_wind_first')

In [61]:
df = df.merge(first_ccsm3_df, how='left', on=season_group_cols)
df['diff_ccsm3_first'] = df[ccsm3_col] - df['first_ccsm3']
assign_train_test_df('diff_ccsm3_first')

In [62]:
# df[f'{precip_col}_bins'] = pd.qcut(df[precip_col], q=5, labels=[f'{precip_col}_{i}' for i in range(5)])
# le = LabelEncoder().fit(np.unique(df[f'{precip_col}_bins'].unique().tolist()))
# df[f'{precip_col}_bins'] = le.transform(df[f'{precip_col}_bins']) + 1
# df[f'{precip_col}_bins'] = df[f'{precip_col}_bins'].replace(np.nan, 0).astype('int').astype('category')
# assign_train_test_df(f'{precip_col}_bins')

In [63]:
df['range_sst'] = df['max_sst'] - df['min_sst']
assign_train_test_df('range_sst')

In [64]:
df['range_sst_5'] = df['max_sst_5'] - df['min_sst_5']
assign_train_test_df('range_sst_5')

In [65]:
df['range_sst_3'] = df['max_sst_3'] - df['min_sst_3']
assign_train_test_df('range_sst_3')

In [66]:
df['range_sst_4'] = df['max_sst_4'] - df['min_sst_4']
assign_train_test_df('range_sst_4')

In [67]:
sst_col_list

['sst-2010-1',
 'sst-2010-2',
 'sst-2010-3',
 'sst-2010-4',
 'sst-2010-5',
 'sst-2010-6',
 'sst-2010-7',
 'sst-2010-8',
 'sst-2010-9',
 'sst-2010-10']

In [68]:
sst_10_res = create_sst_feature(df, 'sst-2010-10', 10, season_group_cols)
df = sst_10_res[0]
sst_feature_10 = sst_10_res[1:]

sst_9_res = create_sst_feature(df, 'sst-2010-9', 9, season_group_cols)
df = sst_9_res[0]
sst_feature_9 = sst_9_res[1:]

sst_8_res = create_sst_feature(df, 'sst-2010-8', 8, season_group_cols)
df = sst_8_res[0]
sst_feature_8 = sst_8_res[1:]

sst_7_res = create_sst_feature(df, 'sst-2010-7', 7, season_group_cols)
df = sst_7_res[0]
sst_feature_7 = sst_7_res[1:]

sst_6_res = create_sst_feature(df, 'sst-2010-6', 6, season_group_cols)
df = sst_6_res[0]
sst_feature_6 = sst_6_res[1:]

Nan
Nan
Nan
Bug:  0
Nan
Nan
Nan
Bug:  0
Nan
Nan
Nan
Bug:  0
Nan
Nan
Nan
Bug:  0
Nan
Nan
Nan
Bug:  0

In [69]:
features = best_cols + [
    'diff_slp_first',
    'diff_wind_first',
    'diff_sst_first',
    'diff_precip_first',
    'diff_sst_min',
    'diff_sst_max',
    'range_sst',
    'diff_sst_5_first',
    'diff_sst_5_min',
    'diff_sst_5_max',
    'range_sst_5',
    'diff_sst_3_first',
    'diff_sst_3_min',
    'diff_sst_3_max',
    'range_sst_3',
    'diff_sst_4_first',
    'diff_sst_4_min',
    'diff_sst_4_max',
    'range_sst_4'
] + sst_feature_10 + sst_feature_9 + sst_feature_8 + sst_feature_7 + sst_feature_6

In [71]:
features

['contest-wind-h500-14d__wind-hgt-500',
 'contest-slp-14d__slp',
 'nmme-tmp2m-34w__ccsm3',
 'elevation__elevation',
 'lon',
 'contest-prwtr-eatm-14d__prwtr',
 'lat',
 'climateregions__climateregion',
 'contest-pres-sfc-gauss-14d__pres',
 'season_sin',
 'day_of_year_sin',
 'contest-precip-14d__precip',
 'contest-wind-uwnd-250-14d__wind-uwnd-250',
 'nmme-prate-34w__cfsv2',
 'nmme-prate-34w__nasa',
 'nmme-prate-56w__gfdlflora',
 'wind-uwnd-250-2010-7',
 'contest-wind-vwnd-925-14d__wind-vwnd-925',
 'nmme-prate-34w__nmmemean',
 'nmme0-prate-34w__ccsm30',
 'contest-wind-h850-14d__wind-hgt-850',
 'contest-wind-uwnd-925-14d__wind-uwnd-925',
 'nmme0-prate-56w__cfsv20',
 'nmme-prate-34w__cancm3',
 'contest-rhum-sig995-14d__rhum',
 'nmme-prate-34w__gfdlflorb',
 'wind-hgt-850-2010-4',
 'contest-wind-vwnd-250-14d__wind-vwnd-250',
 'wind-hgt-100-2010-2',
 'wind-uwnd-250-2010-18',
 'wind-hgt-10-2010-5',
 'wind-uwnd-250-2010-15',
 'wind-uwnd-250-2010-4',
 'nmme0-prate-56w__nasa0',
 'nmme0-prate-34w__cfsv20',
 'wind-vwnd-250-2010-10',
 'contest-wind-h10-14d__wind-hgt-10',
 'wind-uwnd-925-2010-15',
 'wind-vwnd-250-2010-3',
 'nmme-prate-34w__cancm4',
 'sst-2010-4',
 'nmme0-prate-56w__ccsm30',
 'wind-uwnd-250-2010-16',
 'nmme0-prate-34w__gfdl0',
 'nmme0-prate-56w__cancm40',
 'sst-2010-1',
 'sst-2010-3',
 'wind-uwnd-250-2010-14',
 'nmme0-prate-34w__gfdlflora0',
 'nmme-prate-34w__gfdl',
 'wind-hgt-850-2010-9',
 'wind-vwnd-250-2010-1',
 'sst-2010-5',
 'cancm30',
 'nmme-prate-34w__ccsm4',
 'nmme0-prate-34w__nasa0',
 'wind-hgt-500-2010-9',
 'nmme0-prate-34w__cancm30',
 'wind-vwnd-250-2010-13',
 'wind_diff',
 'wind_diff_min',
 'wind_diff_min_month',
 'wind_diff_month',
 'diff_slp_first',
 'diff_wind_first',
 'diff_sst_first',
 'diff_precip_first',
 'diff_sst_min',
 'diff_sst_max',
 'range_sst',
 'diff_sst_5_first',
 'diff_sst_5_min',
 'diff_sst_5_max',
 'range_sst_5',
 'diff_sst_3_first',
 'diff_sst_3_min',
 'diff_sst_3_max',
 'range_sst_3',
 'diff_sst_4_first',
 'diff_sst_4_min',
 'diff_sst_4_max',
 'range_sst_4',
 'diff_sst_10_first',
 'diff_sst_10_min',
 'diff_sst_10_max',
 'range_sst_10',
 'diff_sst_9_first',
 'diff_sst_9_min',
 'diff_sst_9_max',
 'range_sst_9',
 'diff_sst_8_first',
 'diff_sst_8_min',
 'diff_sst_8_max',
 'range_sst_8',
 'diff_sst_7_first',
 'diff_sst_7_min',
 'diff_sst_7_max',
 'range_sst_7',
 'diff_sst_6_first',
 'diff_sst_6_min',
 'diff_sst_6_max',
 'range_sst_6']

In [73]:
X = train_df[features].values
y = train_df[target[0]].values

skf = KFold(n_splits=5, random_state=2048, shuffle=True)
skf.get_n_splits(X, y)

train_index_list = []
test_index_list = []
train_x_list = []
val_x_list = []
train_y_list = []
val_y_list = []

for i, (train_index, test_index) in tqdm(enumerate(skf.split(X, y))):
    train_index_list.append(train_index)
    test_index_list.append(test_index)

    train_x_list.append(X[train_index, :])
    val_x_list.append(X[test_index, :])
    train_y_list.append(y[train_index])
    val_y_list.append(y[test_index])    
def train_catboost(x, y):
    print(x.shape, y.shape)
    
    cat_models = []
    for i in tqdm(range(5)):
        train_x, val_x = train_x_list[i], val_x_list[i]
        train_y, val_y = train_y_list[i], val_y_list[i]
        clf = CatBoostRegressor(iterations=5000, verbose=200, task_type="GPU",
                           devices='0:1')
        clf.fit(train_x, train_y, eval_set=[(val_x, val_y)], verbose=200, early_stopping_rounds=100)
        cat_models.append(clf)
    
    return cat_models
cat_models = train_catboost(X, y)

preds = []
for cat_model in tqdm(cat_models):
    preds.append(cat_model.predict(test_df[features].values))
s = 0
for pred in preds:
    s += pred
s = s/5
res_df = pd.read_csv('./sample_solution.csv')
res_df['contest-tmp2m-14d__tmp2m'] = s
res_df.to_csv('submission_fe_v3.csv', index=False)

best_df = pd.read_csv('best_sub.csv')
y_best = best_df[target[0]].values

from numpy import dot
from numpy.linalg import norm

cos_sim = dot(y_best, s)/(norm(y_best)*norm(s))
print("cos_sim with best submission:", cos_sim)

5it [00:06,  1.22s/it]

(375734, 102) (375734,)

  0%|                                                                                                | 0/5 [00:00<?, ?it/s]

Learning rate set to 0.072699
0:	learn: 9.2611105	test: 9.2407165	best: 9.2407165 (0)	total: 15.3ms	remaining: 1m 16s
200:	learn: 1.1660103	test: 1.1725193	best: 1.1725193 (200)	total: 1.3s	remaining: 31.1s
400:	learn: 0.9147284	test: 0.9242998	best: 0.9242998 (400)	total: 2.62s	remaining: 30s
600:	learn: 0.7870463	test: 0.7991306	best: 0.7991306 (600)	total: 4.07s	remaining: 29.8s
800:	learn: 0.7053582	test: 0.7190579	best: 0.7190579 (800)	total: 5.46s	remaining: 28.6s
1000:	learn: 0.6481017	test: 0.6630057	best: 0.6630057 (1000)	total: 6.62s	remaining: 26.5s
1200:	learn: 0.5999496	test: 0.6160824	best: 0.6160824 (1200)	total: 7.71s	remaining: 24.4s
1400:	learn: 0.5640710	test: 0.5814758	best: 0.5814758 (1400)	total: 8.82s	remaining: 22.7s
1600:	learn: 0.5351161	test: 0.5534705	best: 0.5534705 (1600)	total: 9.79s	remaining: 20.8s
1800:	learn: 0.5101857	test: 0.5294039	best: 0.5294039 (1800)	total: 10.8s	remaining: 19.1s
2000:	learn: 0.4881082	test: 0.5083422	best: 0.5083422 (2000)	total: 11.7s	remaining: 17.5s
2200:	learn: 0.4685462	test: 0.4896172	best: 0.4896172 (2200)	total: 12.7s	remaining: 16.1s
2400:	learn: 0.4504988	test: 0.4724579	best: 0.4724579 (2400)	total: 13.7s	remaining: 14.8s
2600:	learn: 0.4358781	test: 0.4584067	best: 0.4584067 (2600)	total: 14.7s	remaining: 13.6s
2800:	learn: 0.4228564	test: 0.4461836	best: 0.4461836 (2800)	total: 15.7s	remaining: 12.3s
3000:	learn: 0.4097339	test: 0.4338003	best: 0.4338003 (3000)	total: 16.7s	remaining: 11.1s
3200:	learn: 0.3981734	test: 0.4229867	best: 0.4229867 (3200)	total: 17.8s	remaining: 9.99s
3400:	learn: 0.3866366	test: 0.4119297	best: 0.4119297 (3400)	total: 18.9s	remaining: 8.88s
3600:	learn: 0.3769660	test: 0.4029619	best: 0.4029619 (3600)	total: 19.9s	remaining: 7.72s
3800:	learn: 0.3684839	test: 0.3952648	best: 0.3952648 (3800)	total: 20.9s	remaining: 6.58s
4000:	learn: 0.3598027	test: 0.3872566	best: 0.3872566 (4000)	total: 21.8s	remaining: 5.45s
4200:	learn: 0.3518816	test: 0.3799242	best: 0.3799242 (4200)	total: 22.8s	remaining: 4.33s
4400:	learn: 0.3443171	test: 0.3729499	best: 0.3729499 (4400)	total: 23.8s	remaining: 3.24s
4600:	learn: 0.3369770	test: 0.3659579	best: 0.3659579 (4600)	total: 24.8s	remaining: 2.15s
4800:	learn: 0.3306650	test: 0.3601258	best: 0.3601258 (4800)	total: 25.8s	remaining: 1.07s
4999:	learn: 0.3246181	test: 0.3545996	best: 0.3545996 (4999)	total: 26.8s	remaining: 0us
bestTest = 0.3545995849
bestIteration = 4999

 20%|                                                                      | 1/5 [00:42<02:50, 42.65s/it]

Learning rate set to 0.072699
0:	learn: 9.2537635	test: 9.2717026	best: 9.2717026 (0)	total: 6.29ms	remaining: 31.4s
200:	learn: 1.1684870	test: 1.1702861	best: 1.1702861 (200)	total: 1.09s	remaining: 26.1s
400:	learn: 0.9169614	test: 0.9211296	best: 0.9211296 (400)	total: 2.21s	remaining: 25.4s
600:	learn: 0.7874302	test: 0.7945017	best: 0.7945017 (600)	total: 3.25s	remaining: 23.8s
800:	learn: 0.7013302	test: 0.7106639	best: 0.7106639 (800)	total: 4.34s	remaining: 22.8s
1000:	learn: 0.6430466	test: 0.6543777	best: 0.6543777 (1000)	total: 5.41s	remaining: 21.6s
1200:	learn: 0.5968474	test: 0.6096039	best: 0.6096039 (1200)	total: 6.39s	remaining: 20.2s
1400:	learn: 0.5615007	test: 0.5755872	best: 0.5755872 (1400)	total: 7.44s	remaining: 19.1s
1600:	learn: 0.5310138	test: 0.5462234	best: 0.5462234 (1600)	total: 8.44s	remaining: 17.9s
1800:	learn: 0.5056848	test: 0.5220496	best: 0.5220496 (1800)	total: 9.48s	remaining: 16.8s
2000:	learn: 0.4835894	test: 0.5011421	best: 0.5011421 (2000)	total: 10.5s	remaining: 15.7s
2200:	learn: 0.4652869	test: 0.4837605	best: 0.4837605 (2200)	total: 11.5s	remaining: 14.6s
2400:	learn: 0.4483943	test: 0.4677000	best: 0.4677000 (2400)	total: 12.5s	remaining: 13.5s
2600:	learn: 0.4339502	test: 0.4539956	best: 0.4539956 (2600)	total: 13.4s	remaining: 12.4s
2800:	learn: 0.4201495	test: 0.4409718	best: 0.4409718 (2800)	total: 14.4s	remaining: 11.3s
3000:	learn: 0.4075425	test: 0.4292140	best: 0.4292140 (3000)	total: 15.4s	remaining: 10.2s
3200:	learn: 0.3961289	test: 0.4186424	best: 0.4186424 (3200)	total: 16.4s	remaining: 9.2s
3400:	learn: 0.3860156	test: 0.4092993	best: 0.4092993 (3400)	total: 17.4s	remaining: 8.16s
3600:	learn: 0.3763890	test: 0.4002175	best: 0.4002175 (3600)	total: 18.4s	remaining: 7.14s
3800:	learn: 0.3673351	test: 0.3917953	best: 0.3917953 (3800)	total: 19.4s	remaining: 6.12s
4000:	learn: 0.3591788	test: 0.3841823	best: 0.3841823 (4000)	total: 20.5s	remaining: 5.12s
4200:	learn: 0.3518235	test: 0.3772648	best: 0.3772648 (4200)	total: 21.7s	remaining: 4.12s
4400:	learn: 0.3446732	test: 0.3706494	best: 0.3706494 (4400)	total: 22.9s	remaining: 3.11s
4600:	learn: 0.3376380	test: 0.3641496	best: 0.3641496 (4600)	total: 23.8s	remaining: 2.07s
4800:	learn: 0.3314103	test: 0.3583533	best: 0.3583533 (4800)	total: 24.8s	remaining: 1.03s
4999:	learn: 0.3251041	test: 0.3525189	best: 0.3525189 (4999)	total: 25.9s	remaining: 0us
bestTest = 0.3525188926
bestIteration = 4999

 40%|                                                    | 2/5 [01:19<01:58, 39.48s/it]

Learning rate set to 0.072699
0:	learn: 9.2531718	test: 9.2855747	best: 9.2855747 (0)	total: 16.1ms	remaining: 1m 20s
200:	learn: 1.1752101	test: 1.1761128	best: 1.1761128 (200)	total: 1.23s	remaining: 29.4s
400:	learn: 0.9076521	test: 0.9144521	best: 0.9144521 (400)	total: 2.46s	remaining: 28.2s
600:	learn: 0.7731172	test: 0.7834087	best: 0.7834087 (600)	total: 3.63s	remaining: 26.6s
800:	learn: 0.6944354	test: 0.7077017	best: 0.7077017 (800)	total: 4.74s	remaining: 24.9s
1000:	learn: 0.6368914	test: 0.6517545	best: 0.6517545 (1000)	total: 5.83s	remaining: 23.3s
1200:	learn: 0.5946406	test: 0.6107459	best: 0.6107459 (1200)	total: 6.85s	remaining: 21.7s
1400:	learn: 0.5586258	test: 0.5754329	best: 0.5754329 (1400)	total: 7.85s	remaining: 20.2s
1600:	learn: 0.5309602	test: 0.5484708	best: 0.5484708 (1600)	total: 8.93s	remaining: 19s
1800:	learn: 0.5056608	test: 0.5240229	best: 0.5240229 (1800)	total: 9.93s	remaining: 17.6s
2000:	learn: 0.4843651	test: 0.5034003	best: 0.5034003 (2000)	total: 10.9s	remaining: 16.4s
2200:	learn: 0.4661686	test: 0.4859825	best: 0.4859825 (2200)	total: 11.9s	remaining: 15.2s
2400:	learn: 0.4485461	test: 0.4688622	best: 0.4688622 (2400)	total: 12.9s	remaining: 14s
2600:	learn: 0.4338288	test: 0.4547444	best: 0.4547444 (2600)	total: 14s	remaining: 12.9s
2800:	learn: 0.4199571	test: 0.4412535	best: 0.4412535 (2800)	total: 15.1s	remaining: 11.9s
3000:	learn: 0.4072891	test: 0.4291736	best: 0.4291736 (3000)	total: 16.2s	remaining: 10.8s
3200:	learn: 0.3959820	test: 0.4183217	best: 0.4183217 (3200)	total: 17.3s	remaining: 9.73s
3400:	learn: 0.3858962	test: 0.4089595	best: 0.4089595 (3400)	total: 18.4s	remaining: 8.64s
3600:	learn: 0.3767835	test: 0.4003604	best: 0.4003604 (3600)	total: 19.6s	remaining: 7.62s
3800:	learn: 0.3675748	test: 0.3916012	best: 0.3916012 (3800)	total: 20.8s	remaining: 6.55s
4000:	learn: 0.3589536	test: 0.3835119	best: 0.3835119 (4000)	total: 22s	remaining: 5.49s
4200:	learn: 0.3512815	test: 0.3762069	best: 0.3762069 (4200)	total: 23.3s	remaining: 4.44s
4400:	learn: 0.3441807	test: 0.3695974	best: 0.3695974 (4400)	total: 24.5s	remaining: 3.33s
4600:	learn: 0.3368982	test: 0.3627361	best: 0.3627361 (4600)	total: 25.7s	remaining: 2.23s
4800:	learn: 0.3301767	test: 0.3564372	best: 0.3564372 (4800)	total: 26.9s	remaining: 1.12s
4999:	learn: 0.3240613	test: 0.3507506	best: 0.3507506 (4999)	total: 27.9s	remaining: 0us
bestTest = 0.350750593
bestIteration = 4999

 60%|                                   | 3/5 [01:59<01:18, 39.41s/it]

Learning rate set to 0.072699
0:	learn: 9.2604847	test: 9.2566518	best: 9.2566518 (0)	total: 6.11ms	remaining: 30.5s
200:	learn: 1.1705510	test: 1.1851050	best: 1.1851050 (200)	total: 1.02s	remaining: 24.4s
400:	learn: 0.9117685	test: 0.9260603	best: 0.9260603 (400)	total: 2.07s	remaining: 23.7s
600:	learn: 0.7866406	test: 0.8014117	best: 0.8014117 (600)	total: 3.24s	remaining: 23.7s
800:	learn: 0.7025765	test: 0.7168772	best: 0.7168772 (800)	total: 4.42s	remaining: 23.2s
1000:	learn: 0.6414158	test: 0.6565270	best: 0.6565270 (1000)	total: 5.58s	remaining: 22.3s
1200:	learn: 0.5962571	test: 0.6122664	best: 0.6122664 (1200)	total: 6.78s	remaining: 21.5s
1400:	learn: 0.5593838	test: 0.5761338	best: 0.5761338 (1400)	total: 7.98s	remaining: 20.5s
1600:	learn: 0.5306782	test: 0.5480419	best: 0.5480419 (1600)	total: 9.28s	remaining: 19.7s
1800:	learn: 0.5072231	test: 0.5256785	best: 0.5256785 (1800)	total: 10.2s	remaining: 18.2s
2000:	learn: 0.4857337	test: 0.5050629	best: 0.5050629 (2000)	total: 11.2s	remaining: 16.7s
2200:	learn: 0.4672218	test: 0.4875057	best: 0.4875057 (2200)	total: 12.1s	remaining: 15.4s
2400:	learn: 0.4497912	test: 0.4707503	best: 0.4707503 (2400)	total: 13.2s	remaining: 14.3s
2600:	learn: 0.4345946	test: 0.4561410	best: 0.4561410 (2600)	total: 14.3s	remaining: 13.2s
2800:	learn: 0.4213680	test: 0.4435783	best: 0.4435783 (2800)	total: 15.4s	remaining: 12.1s
3000:	learn: 0.4087242	test: 0.4316655	best: 0.4316655 (3000)	total: 16.4s	remaining: 10.9s
3200:	learn: 0.3973908	test: 0.4210523	best: 0.4210523 (3200)	total: 17.4s	remaining: 9.8s
3400:	learn: 0.3867125	test: 0.4109043	best: 0.4109043 (3400)	total: 18.4s	remaining: 8.66s
3600:	learn: 0.3770201	test: 0.4018634	best: 0.4018634 (3600)	total: 19.5s	remaining: 7.57s
3800:	learn: 0.3676509	test: 0.3930532	best: 0.3930532 (3800)	total: 20.5s	remaining: 6.47s
4000:	learn: 0.3590004	test: 0.3848680	best: 0.3848680 (4000)	total: 21.5s	remaining: 5.37s
4200:	learn: 0.3511035	test: 0.3775284	best: 0.3775284 (4200)	total: 22.5s	remaining: 4.29s
4400:	learn: 0.3434684	test: 0.3703948	best: 0.3703948 (4400)	total: 23.6s	remaining: 3.22s
4600:	learn: 0.3367262	test: 0.3642695	best: 0.3642695 (4600)	total: 24.9s	remaining: 2.16s
4800:	learn: 0.3301878	test: 0.3582348	best: 0.3582348 (4800)	total: 26.1s	remaining: 1.08s
4999:	learn: 0.3243009	test: 0.3528343	best: 0.3528343 (4999)	total: 27.3s	remaining: 0us
bestTest = 0.3528343468
bestIteration = 4999

 80%|                 | 4/5 [02:37<00:39, 39.15s/it]

Learning rate set to 0.072699
0:	learn: 9.2625918	test: 9.2370575	best: 9.2370575 (0)	total: 7.31ms	remaining: 36.5s
200:	learn: 1.1620783	test: 1.1682838	best: 1.1682838 (200)	total: 1.08s	remaining: 25.9s
400:	learn: 0.9145381	test: 0.9237977	best: 0.9237977 (400)	total: 2s	remaining: 22.9s
600:	learn: 0.7792359	test: 0.7901627	best: 0.7901627 (600)	total: 3.07s	remaining: 22.5s
800:	learn: 0.6978835	test: 0.7100248	best: 0.7100248 (800)	total: 4.19s	remaining: 22s
1000:	learn: 0.6416889	test: 0.6551254	best: 0.6551254 (1000)	total: 5.34s	remaining: 21.3s
1200:	learn: 0.5961131	test: 0.6107320	best: 0.6107320 (1200)	total: 6.51s	remaining: 20.6s
1400:	learn: 0.5576275	test: 0.5736581	best: 0.5736581 (1400)	total: 7.73s	remaining: 19.9s
1600:	learn: 0.5308080	test: 0.5481636	best: 0.5481636 (1600)	total: 8.89s	remaining: 18.9s
1800:	learn: 0.5072690	test: 0.5255428	best: 0.5255428 (1800)	total: 10s	remaining: 17.8s
2000:	learn: 0.4854159	test: 0.5043549	best: 0.5043549 (2000)	total: 11.1s	remaining: 16.7s
2200:	learn: 0.4668645	test: 0.4866887	best: 0.4866887 (2200)	total: 12.2s	remaining: 15.5s
2400:	learn: 0.4493849	test: 0.4700324	best: 0.4700324 (2400)	total: 13.2s	remaining: 14.3s
2600:	learn: 0.4340082	test: 0.4554353	best: 0.4554353 (2600)	total: 14.2s	remaining: 13.1s
2800:	learn: 0.4211439	test: 0.4434939	best: 0.4434939 (2800)	total: 15.1s	remaining: 11.9s
3000:	learn: 0.4086258	test: 0.4316976	best: 0.4316976 (3000)	total: 16.1s	remaining: 10.7s
3200:	learn: 0.3973029	test: 0.4210413	best: 0.4210413 (3200)	total: 17.1s	remaining: 9.59s
3400:	learn: 0.3869070	test: 0.4113182	best: 0.4113182 (3400)	total: 18.1s	remaining: 8.5s
3600:	learn: 0.3772215	test: 0.4021626	best: 0.4021626 (3600)	total: 19.1s	remaining: 7.43s
3800:	learn: 0.3680864	test: 0.3936049	best: 0.3936049 (3800)	total: 20.1s	remaining: 6.35s
4000:	learn: 0.3595067	test: 0.3856487	best: 0.3856487 (4000)	total: 21.1s	remaining: 5.27s
4200:	learn: 0.3517937	test: 0.3785422	best: 0.3785422 (4200)	total: 22.1s	remaining: 4.21s
4400:	learn: 0.3441102	test: 0.3714303	best: 0.3714303 (4400)	total: 23.2s	remaining: 3.15s
4600:	learn: 0.3373147	test: 0.3650940	best: 0.3650940 (4600)	total: 24.2s	remaining: 2.09s
4800:	learn: 0.3305439	test: 0.3588477	best: 0.3588477 (4800)	total: 25.4s	remaining: 1.05s
4999:	learn: 0.3244360	test: 0.3532320	best: 0.3532320 (4999)	total: 26.5s	remaining: 0us
bestTest = 0.3532320258
bestIteration = 4999

100%|| 5/5 [03:15<00:00, 39.14s/it]
100%|| 5/5 [00:00<00:00, 20.39it/s]

cos_sim with best submission: 0.9997108872587708

In [74]:
s = 0
for pred in preds:
    s += pred
s = s/5
res_df = pd.read_csv('./sample_solution.csv')
res_df['contest-tmp2m-14d__tmp2m'] = s
res_df.to_csv('submission_fe_v3.csv', index=False)

best_df = pd.read_csv('best_sub.csv')
y_best = best_df[target[0]].values

from numpy import dot
from numpy.linalg import norm

cos_sim = dot(y_best, s)/(norm(y_best)*norm(s))
print("cos_sim with best submission:", cos_sim)

cos_sim with best submission: 0.9997108872587708